= form_for([:admin, @course, @curriculum_student, @transferred_discipline]) do |f|
  = f.error_messages

  .clearfix
    = f.label :discipline_id
    .input
      - if @transferred_discipline.id == nil
        = f.select :discipline_id, []
      - else
        %span.uneditable-input= @transferred_discipline.name
  
  .clearfix
    = f.label :grade
    .input
      = f.text_field :grade, :required => 'required'

  .clearfix
    = f.label :attendance
    .input
      = f.text_field :attendance, :required => 'required'

  .actions
    = f.submit nil, :class => 'btn primary'

:javascript
  $(document).ready(function() {
    Application.autocomplete('transferred_discipline_discipline_id', "#{disciplines_path}.js", "#{t 'Remove'}", false)
  })