<%= form_for([:admin, @course, @curriculum_student, @transferred_discipline]) do |f| %>
  <%= f.error_messages %>

	<% if @transferred_discipline.id == nil %>
	<div class="clearfix">
    <%= f.label :discipline_id %>
    <div class="input">
    	<%= f.select :discipline_id, [] %>
    </div>
  </div>
  <% end %>
  
  <div class="clearfix">
    <%= f.label :grade %>
    <div class="input">
    	<%= f.text_field :grade %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :attendance %>
    <div class="input">
    	<%= f.text_field :attendance %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>

<script language="Javascript">
  $(document).ready(function() {
  	Application.autocomplete('transferred_discipline_discipline_id', '<%= disciplines_path %>.js', '<%= t "Remove" %>', false)
  })
</script>