<% content_for :title do %><h1><%= @course.name %></h1><% end %>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article class="content">
  <header class="page-header">
    <h2><%= @curriculum_student.name %>: <%= t 'Editing' %> <%= t 'activerecord.models.transferred_discipline' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_curriculum_student_path(@course, @curriculum_student), :class => 'back'  %></li>
    </ul>
  </header>
  
  <p>
  	<b><%= t 'activerecord.attributes.discipline.name' %></b>: 
  	<%= @transferred_discipline.name %>
  </p>
  
  <%= render 'form' %>
  	
</article>
