- content_for :title do
  %h1= @course.name
  
= render :partial => 'admin/courses/menu', :locals => { :course => @course }

%article.content
  %header.page-header
    %h2= (@curriculum_student.name) + ': ' + (t 'Editing') + ' ' + (t 'activerecord.models.transferred_discipline')
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => :show}, :class => 'back'
      
  = render 'form'