<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= @curriculum_student.name %>: <%= t 'TransferredDisciplines' %></h2>
    <ul id="toolbar">
    	<li><%= link_to (t 'Back'), admin_course_curriculum_student_path(@course, @curriculum_student), :class => :back %></li>
      <li><%= link_to ((t 'Add') + ' ' + (t 'activerecord.models.transferred_discipline')), new_admin_course_curriculum_student_transferred_discipline_path, :class => 'new'  %></li>
    </ul>
  </header>
  
  <table>
    <thead>
      <tr>
      	<th><%= t 'activerecord.attributes.discipline.code' %></th>
        <th><%= t 'activerecord.attributes.discipline.name' %></th>
        <th><%= t 'activerecord.attributes.transferred_discipline.grade' %></th>
        <th><%= t 'activerecord.attributes.transferred_discipline.attendance' %></th>
      </tr>
    </thead>

    <tbody>
      <% @transferred_disciplines.each do |transferred_discipline| %>
      <tr>
        <td><%= transferred_discipline.discipline.code %></td>
        <td><%= link_to transferred_discipline.name, admin_course_curriculum_student_transferred_discipline_path(@course, @curriculum_student, transferred_discipline) %></td>
        <td><%= transferred_discipline.grade %></td>
        <td><%= transferred_discipline.attendance %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @transferred_disciplines %>
</article>
