<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= @curriculum_student.name %>: <%= t 'Add' %> <%= t 'activerecord.models.transferred_discipline' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => "index"}, :class => 'back' %></li>
    </ul>
  </header>

  <%= render 'form' %>
</article>