<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= @curriculum_student.name %>: <%= t 'activerecord.models.transferred_discipline' %></h2>
    <ul id="toolbar">
    	<li><%= link_to (t 'Back'), admin_course_curriculum_student_transferred_disciplines_path(@course, @curriculum_student), :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), {:action => "edit"}, :class => 'edit'  %></li>
      <li><%= button_to (t 'Remove'), {:action => "show"}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
    </ul>
  </header>
  
  <p>
  	<b><%= t 'activerecord.attributes.discipline.name' %></b>: 
  	<%= @transferred_discipline.name %>
  </p>
  
  <p>
  	<b><%= t 'activerecord.attributes.transferred_discipline.grade' %></b>: 
  	<%= @transferred_discipline.grade %>
  </p>
  
  <p>
  	<b><%= t 'activerecord.attributes.transferred_discipline.attendance' %></b>: 
  	<%= @transferred_discipline.attendance %>%
  </p>
  	
</article>
