- content_for :title do 
  %h1= t 'Parameters'
  
= render :partial => 'admin/parameters/menu'

%article.content
  %header.page-header
    %h2
      = t 'Editing'
      = t 'Administrator'
    %ul#toolbar
      %li= link_to (t 'Back'), admin_administrators_path, :class => 'back'
      
  = render 'form'
