<%= form_for([:admin, @curso, @disciplina]) do |f| %>
  <% if @disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% @disciplina.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :creditos %><br />
    <%= f.text_field :creditos %>
  </p>
  <p>
      <%= f.label :prerequisitos %><br />
      <%= f.select :prerequisito_ids, 
                   @curso.disciplinas.all.collect {|c| [c.nome, c.id]}.delete_if {|i| i[1] == @disciplina.id}, 
                   { :selected => @disciplina.prerequisito_ids }, 
                   :multiple => true %>
  </p>
  <%= f.hidden_field :curso_id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
