<h1><%= @curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @curso } %>
<article>
  <header>
    <h2>Nova Disciplina</h2>
    <ul id="toolbar">
      <li><%= link_to 'Back', admin_curso_disciplinas_path(@curso), :class => 'back' %></li>
    </ul>
  </header>

  <p>Foram encontradas as seguintes disciplinas com esse nome:</p>
  <%= form_tag(admin_curso_disciplinas_url) do %>
    <% for disciplinaExistente in @disciplinasExistentes %>
      <h3><%= disciplinaExistente.nome %></h3>
      <p>Cursos:</p>
      <ul>
        <% for curso in disciplinaExistente.cursos %>
        <li><%= curso.nome %></li>
        <% end %>
      </ul>
      <div class="actions">
        <%= content_tag :button, :type => 'submit', :name => 'disciplinaEscolhida', :value => disciplinaExistente.id do %>
          <%= t 'Utilizar esta disciplina' %>
        <% end %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= submit_tag (t 'Criar nova disciplina'), :name => 'criarNovaDisciplina' %>
    </div>

  <% end %>
</article>