<h1><%= @curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @curso } %>
<article>
    <h2>Disciplinas</h2>
    
    <table>
      <tr>
        <th>Nome</th>
        <th>Creditos</th>
      </tr>
    
    <% @disciplinas.each do |disciplina| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= link_to disciplina.nome, [:admin, disciplina.curso, disciplina] %></td>
        <td><%= disciplina.creditos %></td>
      </tr>
    <% end %>
    </table>
    
    <br />
    
    <%= link_to 'Nova Disciplina', new_admin_curso_disciplina_path %>
</article>
