<h1><%= @curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @curso } %>
<article>
  <header>
    <h2><%= t 'AdicionarDisciplinaOutroCurso' %></h2>
    <ul id="toolbar">
      <li><%= link_to 'Voltar', admin_curso_disciplinas_path(@curso), :class => 'back' %></li>
    </ul>
  </header>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cursos</th>
      </tr>
    </thead>
    <tbody>
      <% @disciplinas.each do |disciplina| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= link_to disciplina.nome, {:action => :add, :id => disciplina.id} %></td>
        <td><%= disciplina.cursos.collect(&:nome).join(', ') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @disciplinas %>
</article>
