<ul class="student-schedule">
	<% for date, events in @schedule %>
	<li>
		<h4><%= l Date.parse date %></h4>
		<ul>
			<% for event in events %>
			<li>
				<%= event.date.strftime("%H:%M") %> - 
				<% if event.is_a? Lesson %>
	  			<%= t 'activerecord.models.lesson' %>: 
	  			<%= link_to event.name, student_lecture_lesson_path(event.lecture, event), :class => 'title' %> 
	  			<span class="group">[<%= link_to event.lecture.name, student_lecture_path(event.lecture) %>]</span>
  			<% end %>
  			
  			<% if event.is_a? Test %>
  				<%= t 'activerecord.models.test' %>: 
	  			<span class="title"><%= event.name %></span> 
	  			<span class="group">[<%= link_to event.lecture.name, student_lecture_path(event.lecture) %>]</span>
  			<% end %>
			</li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>