<% content_for :title do %><h1><%= t 'Reports' %></h1><% end %>
<%= render :partial => 'student/reports/menu' %>
<article class="content">
	<header class="page-header">
  	<h2><%= t 'Schedule' %></h2>
  </header>
  
  <h3><%= t 'TimeTable' %></h3>
  
  <table class="grid">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.lecture.discipline_id' %></th>
        <th><%= t 'TimeTable' %></th>
      </tr>
    </thead>
    <tbody>
    	<% for lecture in @lectures %>
      <tr>
        <td><%= lecture.discipline.name %></td>
        <td>
          <% lecture.lecture_time_slots.each_with_index do |t, i| %>
          <%= ', ' if i > 0 %>
          <%= (t 'date.day_names')[t.weekday] %> 
          <%= t.start_time_string %> - <%= t.end_time_string %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <h3><%= t 'NextEvents' %></h3>
  <%= render 'next_events' %>
</article>