<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= t 'Absences' %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'RegisterAbsences'), new_professor_lecture_lecture_absence_path(@lecture), :class => 'new' %></li>
		</ul>
	</header>
	
	<table>
		<thead>
			<tr>
				<th><%= t 'Date' %></th>
			</tr>
		</thead>
		<tbody>
			<% for lecture_absence in @lecture_absences %>
			<tr>
				<td><%= link_to (l lecture_absence.date, :format => :long), [:professor, @lecture, lecture_absence] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @lecture_absences %>
</article>
