<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'professor/lectures/menu' %>
<article class="content">
	<header class="page-header">
		<h2><%= t 'New' %> <%= t 'activerecord.models.lesson'%></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), professor_lecture_lessons_path(@lecture), :class => 'back' %></li>
		</ul>
	</header>
	
	<%= render 'form' %>
	
</article>
