<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= t @lesson.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), professor_lecture_lessons_path(@lecture), :class => 'back' %></li>
			<li><%= link_to (t 'Edit'), edit_professor_lecture_lesson_path(@lecture, @lesson), :class => 'edit' %></li>
			<li><%= link_to (t 'Absences'), professor_lecture_lesson_absences_path(@lecture, @lesson), :class => 'absences' %></li>
			<li><%= button_to (t 'Delete'), [:professor, @lecture, @lesson], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
		</ul>
	</header>
	
	<p id="notice"><%= notice %></p>
	
	<p>
		<b><%= t 'activerecord.attributes.lesson.date' %>:</b> 
		<%= l @lesson.date, :format => :long %>
	</p>
	
	<p>
		<b><%= t 'activerecord.attributes.lesson.maximum_absences' %>:</b> 
		<%= @lesson.maximum_absences %>
	</p>
	
	<p>
		<b><%= t 'activerecord.attributes.lesson.title' %>:</b> 
		<%= @lesson.title %>
	</p>
	
	<p>
		<b><%= t 'activerecord.attributes.lesson.description' %>:</b><br />
		<%= raw(@lesson.description) %>
	</p>
</article>