<header class="page-header">
	<h2><%= t 'Details' %></h2>
</header>

<p>
  <b><%= t 'ClassCode' %>:</b> <%= @lecture.code %>
</p>

<p>
  <b><%= t 'activerecord.models.academic_period' %>:</b> <%= @lecture.academic_period.name %>
</p>

<% if @lecture.professors.size == 1 %>
  <p>
    <b><%= t 'activerecord.models.Professor' %>:</b> 
    <%= link_to @lecture.professors[0].person.name, user_path(@lecture.professors[0].person) %>
  </p>
  <% else %>
  <p>
    <b><%= t 'Professors' %>:</b> 
    <ul>
    	<% for professor in @lecture.professors %>
    	<li><%= link_to professor.person.name, user_path(professor.person) %></li>
    	<% end %>
    </ul>
  </p>
<% end %>

<% if @lecture.lecture_time_slots.exists? %>
<h3><%= t 'TimeTable' %></h3>
  <ul>
    <% for time_slot in @lecture.lecture_time_slots %>
    <li>
      <%= (t 'date.day_names')[time_slot.weekday] %> 
      <%= time_slot.start_time_string %> - <%= time_slot.end_time_string %>
    </li>
    <% end %>
  </ul>
<% end %>

<h3><%= t 'activerecord.models.discipline' %></h3>
<p>
  <b><%= t 'activerecord.attributes.discipline.code' %>:</b> 
  <%= @lecture.discipline.code %>
</p>
<p>
  <b><%= t 'activerecord.attributes.discipline.name' %>:</b> 
  <%= @lecture.name %>
</p>
<p>
  <b><%= t 'activerecord.attributes.discipline.version' %>:</b> 
  <%= @lecture.discipline.version_fullname %>
</p>
<p>
  <b><%= t 'activerecord.attributes.discipline.course_id' %>:</b> 
  <%= @lecture.discipline.course.code %>
</p>