<h1><%= t 'Login' %></h1>
<article id="login">
  <p id="notice"><%= notice %></p>
  <%= form_tag(authenticate_url) do %>
  <p>
    <%= label_tag 'usuario', (t 'Usuario') %><br/>
    <%= text_field_tag 'username', nil, :autocomplete => 'off' %>
  </p>
  <p>
    <%= label_tag 'password', (t 'Senha') %><br/>
    <%= password_field_tag 'password' %>
  </p>
  <div class="actions">
    <%= submit_tag (t 'Entrar') %>
    <%= link_to t 'EsqueciASenha' %>
  </p>
  <% end %>
</article>