<%= form_for([:admin, @academic_period]) do |f| %>
  <%= f.error_messages %>

  <div class="clearfix">
    <%= f.label :name, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :name %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :start, nil, :class => :required %>
    <div class="input">
    	<%= f.date_select :start %> <%= t 'until' %> <%= f.date_select :end %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :registration_start %>
    <div class="input">
	    <%= f.date_select :registration_start, :include_blank => true %> <%= t 'until' %> 
	    <%= f.date_select :registration_end, :include_blank => true %>
	    <span class="help-block"><%= t 'InformationOfAbsenceOfRegistrationPeriod' %></span>
	  </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
