<%= form_for([:admin, @academic_period]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, nil, :class => :required %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start, nil, :class => :required %><br />
    <%= f.date_select :start %> <%= t 'until' %> <%= f.date_select :end %>
  </p>
  <p>
    <%= f.label :registration_start %><br />
    <%= f.date_select :registration_start, :include_blank => true %> <%= t 'until' %> 
    <%= f.date_select :registration_end, :include_blank => true %><br/>
    <small><%= t 'InformationOfAbsenceOfRegistrationPeriod' %></small>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
