<header>
  <h1><%= t 'AcademicPeriods' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'New') + ' ' + (t 'activerecord.models.academic_period'), new_admin_academic_period_path, :class => 'new'  %></li>
  </ul>
</header>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.academic_period.name' %></th>
      <th><%= t 'activerecord.attributes.academic_period.start' %></th>
    </tr>
  </thead>
  <tbody>
    <% @academic_periods.each do |period| %>
    <tr>
      <td><%= link_to period.name, [:admin, period] %></td>
      <td><%= l period.start %> <%= t 'until' %> <%= l period.end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @academic_periods %>