<% content_for :title do %><h1><%= @academic_period.name %></h1><% end %>
<%= render :partial => 'menu', :locals => { :academic_period => @academic_period } %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'Home' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_academic_periods_path, :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), edit_admin_academic_period_path(@academic_period), :class => 'edit' %></li>
      <li><%= button_to (t 'Delete'), [:admin, @academic_period], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li> 
    </ul>
  </header>
  
  <p>
    <b><%= t 'activerecord.attributes.academic_period.name' %>:</b>
    <%= @academic_period.name %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.academic_period.start' %>:</b>
    <%= l @academic_period.start, :format => :long %> <%= t 'until' %> <%= l @academic_period.end, :format => :long %>
  </p>
  
  <% if @academic_period.registration_start and @academic_period.registration_end %>
  <p>
    <b><%= t 'activerecord.attributes.academic_period.registration_start' %>:</b>
    <%= l @academic_period.registration_start, :format => :long %> à <%= l @academic_period.registration_end, :format => :long %>
  </p>
  <% end %>
</article>
