<h3><%= t 'Disciplines' %></h3>

<table class="grid" summary="<%= t 'Disciplines' %>">
  <thead>
    <tr>
      <th><%= t 'activerecord.models.discipline' %></th>
      <th><%= t 'activerecord.models.lecture_situation' %></th>
      <th><%= t 'activerecord.models.academic_period' %></th>
      <th><%= t 'activerecord.attributes.lecture_student.grade' %></th>
      <th><%= t 'activerecord.attributes.lecture_student.attendance' %></th>
      <th><%= t 'activerecord.attributes.discipline.credits' %></th>
    </tr>
  </thead>
  <tbody>
  <% current_module = nil %>
  <% for t in @transcripts %>
		<% discipline = t[:curriculum_discipline] ? t[:curriculum_discipline].discipline : t[:discipline] %>
		<% if t[:curriculum_discipline] && t[:curriculum_discipline].curriculum_module_id != current_module %>
		<% current_module = t[:curriculum_discipline].curriculum_module_id %>
  	<tr>
  		<th colspan="6">
  			<% if t[:curriculum_discipline].curriculum_module %>
  			<%= t[:curriculum_discipline].curriculum_module.name %>
  			<% else %>
  			<%= I18n.t('TranscriptNoCurriculumModule') %>
  			<% end %>
  		</th>
  	</tr>	
    <% elsif !t[:curriculum_discipline] && current_module != I18n.t('TranscriptOutsideCurriculum') %>
		<% current_module = I18n.t('TranscriptOutsideCurriculum') %>
  	<tr>
  		<th colspan="6"><%= I18n.t('TranscriptOutsideCurriculum') %></th>
  	</tr>	
    <% end %>
  	<tr>
      <td><%= discipline.name %></td>
      <% if t[:lecture_student] %>
      <td>
      	<span class="label <%= situation_class t[:lecture_student] %>"><%= t[:lecture_student].situation_description %></span>
      </td>
      <td><%= t[:lecture_student].lecture.academic_period.name %></td>
      <td><%= t[:lecture_student].grade %></td>
      <td><%= t[:lecture_student].attendance.to_s + '%' if t[:lecture_student].attendance %></td>
      <% elsif t[:transferred_discipline] %>
      <td>
      	<span class="label success"><%= t 'TransferredDisciplineSituation'%></span>
      </td>
      <td></td>
      <td><%= t[:transferred_discipline].grade %></td>
      <td><%= t[:transferred_discipline].attendance.to_s + '%' if t[:transferred_discipline].attendance %></td>
      <% else %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <% end %>
      <td><%= discipline.credits %></td>
    </tr>
  <% end %>
</table>