<% content_for :title do %><h1><%= t 'Reports' %></h1><% end %>
<%= render :partial => 'student/reports/menu' %>
<article class="content">
	<header class="page-header">
  	<h2><%= t 'Transcripts' %></h2>
  
	  <% if @student.curriculum_students.size > 1 %>
	  <ul id="toolbar">
	  	<li><%= link_to (t 'Back'), student_reports_transcripts_path, :class => 'back' %></li>
	  </ul>
	  <% end %>
  </header>
  
  <p>
    <b><%= t 'activerecord.models.course' %>:</b> 
    <%= @curriculum_student.curriculum.course.name %>
  </p>
  <p>
    <b><%= t 'activerecord.attributes.curriculum_student.active' %>:</b> 
    <%= @curriculum_student.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
  </p>
  <p>
    <b><%= t 'activerecord.attributes.curriculum_student.created_at' %>:</b> 
    <%= l @curriculum_student.created_at, :format => :long %>
  </p>
  <p>
    <b><%= t 'activerecord.models.curriculum' %>:</b> 
    <%= @curriculum_student.curriculum.name %>
  </p>
  
  <%= render 'transcript' %>
</article>
