<h1><%= t 'Reports' %></h1>
<%= render :partial => 'student/reports/menu' %>
<article>
	<header>
  	<h2><%= t 'Transcripts' %></h2>
  
	  <% if @student.curriculum_students.size > 1 %>
	  <ul id="toolbar">
	  	<li><%= link_to (t 'Back'), student_reports_transcripts_path, :class => 'back' %></li>
	  </ul>
	  <% end %>
  </header>
  
  <p>
    <b><%= t 'activerecord.models.course' %>:</b> 
    <%= @curriculum_student.curriculum.course.name %>
  </p>
  <p>
    <b><%= t 'activerecord.attributes.curriculum_student.active' %>:</b> 
    <%= @curriculum_student.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
  </p>
  <p>
    <b><%= t 'activerecord.attributes.curriculum_student.created_at' %>:</b> 
    <%= l @curriculum_student.created_at, :format => :long %>
  </p>
  <p>
    <b><%= t 'activerecord.models.curriculum' %>:</b> 
    <%= @curriculum_student.curriculum.name %>
  </p>
  
  <h3><%= t 'Disciplines' %></h3>
  
  <table class="grid">
    <thead>
      <tr>
        <th><%= t 'activerecord.models.discipline' %></th>
        <th><%= t 'Situation' %></th>
        <th><%= t 'activerecord.models.academic_period' %></th>
        <th><%= t 'activerecord.attributes.lecture_student.grade' %></th>
        <th><%= t 'activerecord.attributes.lecture_student.attendance' %></th>
        <th><%= t 'activerecord.attributes.discipline.credits' %></th>
      </tr>
    </thead>
    <tbody>
    	<% for transcript in @transcripts %>
    	<tr>
        <td>
        	<%= transcript[:discipline].name %>
        </td>
        <% if transcript[:lecture_student] %>
        <td>
        	<span class="<%= situation_class transcript[:lecture_student] %>">
        		<%= transcript[:lecture_student].situation_description %>
        	</span>
        </td>
        <td><%= transcript[:lecture_student].lecture.academic_period.name %></td>
        <td><%= transcript[:lecture_student].grade %></td>
        <td><%= transcript[:lecture_student].attendance.to_s + '%' if transcript[:lecture_student].attendance %></td>
        <% elsif transcript[:transferred_discipline] %>
        <td>
        	<span class="approved">
        		<%= t 'TransferredDisciplineSituation'%>
        	</span>
        </td>
        <td></td>
        <td><%= transcript[:transferred_discipline].grade %></td>
        <td><%= transcript[:transferred_discipline].attendance.to_s + '%' if transcript[:transferred_discipline].attendance %></td>
        <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
        <td><%= transcript[:discipline].credits %></td>
      </tr>
      <% end %>
  </table>
</article>
