- content_for :title do
  %h1= t 'Reports'
  
= render :partial => 'student/reports/menu'

%article.content
  %header.page-header
    %h2= t 'Transcripts'
  
    - if @student.curriculum_students.size > 1
      %ul#toolbar
        %li= link_to (t 'Back'), student_reports_transcripts_path, :class => 'back'
  
  %p
    %strong= (t 'activerecord.models.course') + ': ' 
    = @curriculum_student.curriculum.course.name
  
  %p
    %strong= (t 'activerecord.attributes.curriculum_student.active') + ': ' 
    = @curriculum_student.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo')
  
  %p
    %strong= (t 'activerecord.attributes.curriculum_student.created_at') + ': ' 
    = l @curriculum_student.created_at, :format => :long
  
  %p
    %strong= (t 'activerecord.models.curriculum') + ': ' 
    = @curriculum_student.curriculum.name
  
  = render 'transcript'
