<header class="page-header">
	<h1><%= t 'Search' %>: <%= @query %></h1>
</header>

<h3><%= t 'Students' %></h3>
<% if @students.size > 0 %>
<table>
	<thead>
		<tr>
			<th><%= t 'activerecord.attributes.person.name' %></th>
			<th><%= t 'activerecord.attributes.student.code' %></th>
		</tr>
	</thead>
	<tbody>
		<% for student in @students %>
		<tr>
			<td>
				<%= link_to student.name, @user.is_admin? ? admin_student_path(student) : user_path(student.person) %>
			</td>
			<td><%= student.code %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<p><%= t 'NoResultsFound' %></p>
<% end %>

<h3><%= t 'Professors' %></h3>
<% if @professors.size > 0 %>
<table>
	<thead>
		<tr>
			<th><%= t 'activerecord.attributes.person.name' %></th>
		</tr>
	</thead>
	<tbody>
		<% for professor in @professors %>
		<tr>
			<td>
				<%= link_to professor.name, @user.is_admin? ? admin_professor_path(professor) : user_path(professor.person) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<p><%= t 'NoResultsFound' %></p>
<% end %>
