<%= form_for([:admin, @course, @curriculum]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if @curriculum.id %>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>