<%= form_for([:admin, @course, @curriculum]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, nil, :class => :required %><br />
    <%= f.text_field :code, :class => :input_medium %>
  </p>
  <p>
    <%= f.label :name, nil, :class => :required %><br />
    <%= f.text_field :name %>
  </p>
  <% if @curriculum.id %>
  <p>
    <%= f.check_box :finished %> <%= f.label :finished %><br />
    <small><%= t 'FinishCurriculumToEnableActivation' %></small>
  </p>
  
  <p>
    <%= f.check_box :active %> <%= f.label :active %><br />
    <small><%= t 'ActiveCurriculumWillBeAvailableForStudentRegistration' %></small>
  </p>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>