<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= t 'Editing' %> <%= t 'activerecord.models.curriculum' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), [:admin, @course, @curriculum], :class => 'back' %></li>
    </ul>
  </header>

  <%= render 'form' %>

</article>