<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'Curriculums' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.curriculum')), {:action => 'new'}, :class => 'new' %></li>
  </header>
  
  <table>
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.curriculum.code' %></th>
        <th><%= t 'activerecord.attributes.curriculum.name' %></th>
        <th><%= t 'activerecord.attributes.curriculum.active' %></th>
        <th><%= t 'activerecord.attributes.curriculum.finished' %></th>
      </tr>
    </thead>
    <tbody>
      <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= curriculum.code %></td>
        <td><%= link_to curriculum.name, [:admin, @course, curriculum] %></td>
        <td><%= curriculum.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %></td>
        <td><%= curriculum.finished ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @curriculums %>
</article>
