- content_for :title do 
  %h1= @course.name
  
= render :partial => 'admin/courses/menu', :locals => {:course => @course}

%article.content
  %header.page-header
    %h2= (t 'New') + ' ' + (t 'activerecord.models.curriculum')
    %ul#toolbar
      %li= link_to (t 'Back'), admin_course_curriculums_path(@course), :class => 'back'
      
  = render 'form'