<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= t 'Curriculum' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), nil, :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), {:action => 'edit', :id => 1}, :class => 'edit' %></li>
      <li><%= link_to (t 'AddDiscipline'), nil, :class => 'new' %></li>
    </ul>
  </header>
</article>
