<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= t 'activerecord.models.curriculum' %>: <%= @curriculum.name %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => 'index'}, :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), {:action => 'edit', :id => @curriculum.id}, :class => 'edit' %></li>
      <% if !@curriculum.active %>
      <li><%= link_to ((t 'Add') + ' ' + (t 'Disciplines')), new_admin_course_curriculum_curriculum_discipline_path(@course, @curriculum), :class => 'new' %></li>
      <% end %>
      <li><%= link_to (t 'CurriculumModules'), admin_course_curriculum_curriculum_modules_path(@course, @curriculum), :class => 'show' %></li>
      <li><%= button_to (t 'Delete'), {:action => :show}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
    </ul>
  </header>

  <p>
    <b><%= t 'activerecord.attributes.curriculum.code' %>:</b> 
    <%= @curriculum.code %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.curriculum.name' %>:</b> 
    <%= @curriculum.name %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.curriculum.active' %>:</b> 
    <%= @curriculum.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
  </p>
  
  <h3><%= t 'Disciplines' %></h3>
  <table>
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.discipline.code' %></th>
        <th><%= t 'activerecord.attributes.discipline.name' %></th>
        <th><%= t 'activerecord.attributes.discipline.credits' %></th>
        <th><%= t 'activerecord.attributes.curriculum_discipline.mandatory' %></th>
      </tr>
    </thead>
    <tbody>
    	<% current_module = nil %>
      <% @curriculum_disciplines.each do |curriculum_discipline| %>
      <% if curriculum_discipline.curriculum_module_id != current_module %>
      <% current_module = curriculum_discipline.curriculum_module_id %>
      <tr>
      	<th colspan="4">
      		<%= curriculum_discipline.curriculum_module ? curriculum_discipline.curriculum_module.name : t('TranscriptNoCurriculumModule') %>
      	</th>
      </tr>
      <% end %>
      <tr>
        <td><%= curriculum_discipline.discipline.code %></td>
        <td><%= link_to curriculum_discipline.discipline.name, admin_course_curriculum_curriculum_discipline_path(@course, @curriculum, curriculum_discipline) %></td>
        <td><%= curriculum_discipline.discipline.credits %></td>
        <td><%= curriculum_discipline.mandatory ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>