<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= t 'Curriculum' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => 'index'}, :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), {:action => 'edit', :id => @curriculum.id}, :class => 'edit' %></li>
      <li><%= link_to (t 'AddDiscipline'), new_admin_course_curriculum_discipline_path(@course, @curriculum), :class => 'new' %></li>
    </ul>
  </header>

  <p id="notice"><%= notice %></p>

  <p>
    <b><%= t 'Code' %>:</b> <%= @curriculum.id %>
  </p>
  
  <p>
    <b><%= t 'Name' %>:</b> <%= @curriculum.name %>
  </p>
  
  <p>
    <b><%= t 'Active' %>:</b> <%= @curriculum.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
  </p>
  
  <h3><%= t 'Disciplines' %></h3>
  <table>
    <thead>
      <tr>
        <th><%= t 'Code' %></th>
        <th><%= t 'Name' %></th>
        <th><%= t 'Module' %></th>
        <th><%= t 'Credits' %></th>
      </tr>
    </thead>
    <tbody>
      <% @curriculum.disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.id %></td>
        <td><%= link_to discipline.name, [:admin, @course, @curriculum, discipline] %></td>
        <td>1</td>
        <td><%= discipline.credits %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>