.page-header
  %h1= t 'PasswordRecovery'

= form_tag(authenticate_url) do
  .clearfix
    = label_tag 'usuario', (t 'EmailOrStudentId')
    .input
      = text_field_tag 'username', nil, :autocomplete => 'off', :required => 'required'
  .actions
    = submit_tag (t 'SendMeMyPassword'), :class => 'btn primary'