<h1><%= t 'PasswordRecovery' %></h1>

<% if notice %>
<p id="notice"><%= t notice %></p>
<% end %>

<% if alert %>
<p id="alert"><%= t alert %></p>
<% end %>

<%= form_tag(authenticate_url) do %>
<p>
  <%= label_tag 'usuario', (t 'EmailOrStudentId') %><br/>
  <%= text_field_tag 'username', nil, :autocomplete => 'off' %>
</p>
<div class="actions">
  <%= submit_tag (t 'SendMeMyPassword') %>
</p>
<% end %>