<%= form_for([:admin, @student]) do |f| %>
  <%= f.error_messages %>
  
  <div class="clearfix">
    <%= f.label :code, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :code, :class => :input_medium %>
    </div>
  </div>
  <%= f.fields_for :person do |p| %>
  <div class="clearfix">
    <%= p.label :name, nil, :class => :required %>
    <div class="input">
    	<%= p.text_field :name, :class => :input_xlarge %>
    </div>
  </div>
  <div class="clearfix">
    <%= p.label :email %>
    <div class="input">
    	<%= p.text_field :email, :class => :input_xlarge %>
    </div>
  </div>
  <div class="clearfix">
    <%= p.label :date_birth %>
    
    <div class="input">
    	<%= p.date_select :date_birth, :start_year => 1900, :include_blank => true %>
    </div>
  </div>
  
  <% for partialUrl in UniBroker.instance.personFormPartialUrls %>
		<%= render :partial => partialUrl, :locals => {:p => p} %>
	<% end %>
  
  <% if @student.person.photo.exists? %>
  <div class="clearfix">
    <%= label_tag (t 'DeleteCurrentPhoto') %>
    <div class="input">  
    	<%= check_box_tag :delete_photo %>
    </div>
  </div>
  <% end %>
  <% end %>
  
  <div class="clearfix">
    <%= label_tag :reset_password, (t 'ResetPassword') %> 
    <div class="input">
    	<%= check_box_tag :reset_password %><br />
    	<span class="help-block"><%= t 'PasswordWillBeTheStudentCode' %></span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
