<%= form_for([:admin, @student]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code %>
  </p>
  <%= f.fields_for :person do |p| %>
  <p>
    <%= p.label :name, (t 'Name') %><br />
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.label :email, (t 'Email') %><br />
    <%= p.text_field :email %>
  </p>
  
  <% if @student.person.photo.exists? %>
  <p>
    <%= label_tag (t 'DeleteCurrentPhoto')%>  
    <%= check_box_tag :delete_photo %>
  </p>
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
