<%= form_for([:admin, @student]) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <%= f.fields_for :person do |p| %>
  <p>
    <%= p.label :name %><br />
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.label :email %><br />
    <%= p.text_field :email %>
  </p>
  
  <% if @student.person.photo.exists? %>
  <p>
    <%= label_tag (t 'DeleteCurrentPhoto')%>  
    <%= check_box_tag :delete_photo %>
  </p>
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
