<%= form_for([:admin, @student]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :code, nil, :class => :required %><br />
    <%= f.text_field :code, :class => :input_medium %>
  </p>
  <%= f.fields_for :person do |p| %>
  <p>
    <%= p.label :name, nil, :class => :required %><br />
    <%= p.text_field :name, :class => :input_xlarge %>
  </p>
  <p>
    <%= p.label :email %><br />
    <%= p.text_field :email, :class => :input_xlarge %>
  </p>
  <p>
    <%= p.label :date_birth %><br />
    <%= p.date_select :date_birth, :start_year => 1900, :include_blank => true %>
  </p>
  
  <% if @student.person.photo.exists? %>
  <p>
    <%= label_tag (t 'DeleteCurrentPhoto') %>  
    <%= check_box_tag :delete_photo %>
  </p>
  <% end %>
  <% end %>
  
  <p>
    <%= label_tag (t 'ResetPassword') %>  
    <%= check_box_tag :reset_password %><br />
    <small><%= t 'PasswordWillBeTheStudentCode' %></small>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
