<header>
  <h1><%= t 'Students' %></h1>
  <ul id="toolbar">
    <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.student')), new_admin_student_path, :class => 'new' %></li>
  </ul>
</header>

<form id="search">
	<p>
		<%= text_field_tag :term, params[:term], :type => :search %>
		<%= submit_tag (t 'Search') %>
  </p>
</form>	

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.student.code' %></th>
      <th><%= t 'activerecord.attributes.person.name' %></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.code %></td>
      <td><%= link_to student.name, [:admin, student] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @students %>