<header>
  <h1><%= t 'Students' %></h1>
  <ul id="toolbar">
    <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.student')), new_admin_student_path, :class => 'new' %></li>
  </ul>
</header>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.student.code' %></th>
      <th><%= t 'activerecord.attributes.person.name' %></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.code %></td>
      <td><%= link_to student.name, [:admin, student] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @students %>