<header>
  <h1>Aluno</h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Editar'), edit_admin_aluno_path(@aluno), :class => 'edit' %></li> 
    <li><%= button_to (t 'Excluir'), [:admin, @aluno], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to (t 'Voltar'), admin_alunos_path, :class => 'back' %></li>
  </ul>
</header>

<p>
  <b>Matrícula:</b>
  <%= @aluno.matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @aluno.pessoa.nome %>
</p>

<p>
  <b>E-mail:</b>
  <%= @aluno.pessoa.email %>
</p>

<% if @aluno.cursos && @aluno.cursos.length > 0 %>
<h3>Cursos</h3>
<ul>
    <% for curso in @aluno.cursos %>
    <li>
        <%= link_to curso.nome, [:admin, curso] %>
    </li>
    <% end %>
</ul>
<% end %>