<header>
  <h1><%= t 'activerecord.models.student' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), admin_students_path, :class => 'back' %></li>
    <li><%= link_to (t 'Profile'), user_path(@student.person), :class => 'person' %></li>
    <li><%= link_to (t 'Edit'), edit_admin_student_path(@student), :class => 'edit' %></li> 
    <li><%= button_to (t 'Delete'), [:admin, @student], :confirm => ( t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
  </ul>
</header>

<p>
  <b><%= t 'activerecord.attributes.student.code' %>:</b>
  <%= @student.code %>
</p>

<p>
  <b><%= t 'activerecord.attributes.person.name' %>:</b>
  <%= @student.person.name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.person.email' %>:</b>
  <%= @student.person.email %>
</p>

<h3><%= t 'Courses' %></h3>
<% if @student.curriculums %>
<ul>
	<% for curriculum_student in @student.curriculum_students %>
	<li><%= link_to curriculum_student.curriculum.course.name, [:admin, curriculum_student.curriculum.course, curriculum_student] %></li>
	<% end %>
</ul>
<% else %>
<p><%= t 'ThisStudentIsNotRegisteredInAnyCourse' %></p>
<% end %>