<h1><%= t 'Reports' %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'TimeTable' %></h2>
  
  <table class="grid">
    <thead>
      <tr>
        <th><%= t 'Discipline' %></th>
        <th><%= t 'Schedule' %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SI036 - Matemática</td>
        <td>SEG 19:00 - 20:40, QUA 19:00 - 20:40</td>
      </tr>
      <tr>
        <td>AD015 - Português</td>
        <td>SEG 21:00 - 22:40, QUA 21:00 - 22:40</td>
      </tr>
      <tr>
        <td>SI036 - Geografia</td>
        <td>TER 19:00 - 20:40, QUI 19:00 - 20:40</td>
      </tr>
      <tr>
        <td>SI036 - História</td>
        <td>TER 21:00 até 22:40, QUI 21:00 - 22:40</td>
      </tr>
      <tr>
        <td>SI036 - Biologia</td>
        <td>SAB 08:00 - 09:40, SAB 10:00 - 11:40</td>
      </tr>
    </tbody>
  </table>
</article>
