<h1><%= t 'Reports' %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'TimeTable' %></h2>
  
  <table class="grid">
    <thead>
      <tr>
        <th><%= t 'activerecord.models.discipline' %></th>
        <th><%= t 'Schedule' %></th>
      </tr>
    </thead>
    <tbody>
    	<% for lecture in @lectures %>
      <tr>
        <td><%= lecture.discipline.name %></td>
        <td>
          <% lecture.lecture_time_slots.each_with_index do |t, i| %>
          <%= ', ' if i > 0 %>
          <%= (t 'date.day_names')[t.weekday] %> 
          <%= t.start_time_string %> - <%= t.end_time_string %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
