<h1><%= t 'Reports' %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Transcripts' %></h2>
  
  <p>
    <b><%= t 'Course' %>:</b> 7ª Série
  </p>
  <p>
    <b><%= t 'Situation' %>:</b> <%= t 'Active' %>
  </p>
  <p>
    <b><%= t 'EntranceDate' %>:</b> 02/02/2004
  </p>
  <p>
    <b><%= t 'Curriculum' %>:</b> 2009.1
  </p>
  
  <h3><%= t 'Disciplines' %></h3>
  
  <table class="grid">
    <thead>
      <tr>
        <th><%= t 'Discipline' %></th>
        <th><%= t 'Situation' %></th>
        <th><%= t 'AcademicPeriod' %></th>
        <th><%= t 'Grade' %></th>
        <th><%= t 'Abscences' %></th>
        <th><%= t 'Credits' %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SI002 - Cálculo</td>
        <td><span class="approved"><%= t 'Approved' %></span></td>
        <td>2008.1</td>
        <td>90 <span class="small-relevance">/100</td>
        <td>10</td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI023 - Computação Básica</td>
        <td><span class="approved"><%= t 'Approved' %></span></td>
        <td>2008.1</td>
        <td>70 <span class="small-relevance">/100</td>
        <td>12</td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI001 - Inglês Instrumental</td>
        <td><span class="failed"><%= t 'Failed' %></span></td>
        <td>2008.1</td>
        <td>30 <span class="small-relevance">/100</td>
        <td>10</td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI011 - Fundamentos de 7ª Série</td>
        <td><span class="approved"><%= t 'Approved' %></span></td>
        <td>2008.1</td>
        <td>95 <span class="small-relevance">/100</td>
        <td>0</td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI036 - Matemática</td>
        <td><span class="studying"><%= t 'Studying' %></span></td>
        <td>2011.1</td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI036 - Português</td>
        <td><span class="studying"><%= t 'Studying' %></span></td>
        <td>2011.1</td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI036 - Geografia</td>
        <td><span class="studying"><%= t 'Studying' %></span></td>
        <td>2011.1</td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI036 - História</td>
        <td><span class="studying"><%= t 'Studying' %></span></td>
        <td>2011.1</td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI036 - Biologia</td>
        <td><span class="studying"><%= t 'Studying' %></span></td>
        <td>2011.1</td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio III</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio IV</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio III</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio IV</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Trabalho de Conclusão de Curso II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI032 - Análise, Projeto e Implementação de Sistemas II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio I</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio II</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio III</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
      <tr>
        <td>SI028 - Estágio IV</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80</td>
      </tr>
  </table>
</article>
