<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= (t 'Editing') + ' ' + (t 'Absences') %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), professor_lecture_lecture_absences_path(@lecture), :class => 'back' %></li>
		</ul>
	</header>
	
	<%= render 'form' %>
	
</article>
