<%= form_for([:admin, @curso]) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :categoria_curso_id %><br />
    <%= f.select :categoria_curso_id, CategoriaCurso.all.collect {|c| [ c.nome, c.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
