<h1><%= @curso.nome %></h1>
<%= render :partial => 'menu', :locals => { :curso => @curso } %>
<article>
    <h2>Editando Curso</h2>

    <%= render 'form' %>
    
    <%= link_to 'Exibir', [:admin, @curso] %> |
    <%= link_to 'Voltar', admin_cursos_path %>
</article>
