<header>
  <h1><%= t 'Cursos' %></h1>
  <ul id="toolbar">
    <li><%= link_to 'Novo Curso', new_admin_curso_path, :class => 'new'  %></li>
  </ul>
</header>

<table>
  <tr>
    <th><%= t 'Curso' %></th>
    <th><%= t 'Categoria' %></th>
  </tr>
<% @cursos.each do |curso| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= link_to curso.nome, [:admin, curso] %></td>
    <td><%= curso.categoria_curso.nome %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @cursos %>