<header>
  <h1><%= t 'Cursos' %></h1>
  <ul id="toolbar">
    <li><%= link_to 'Novo Curso', new_admin_curso_path, :class => 'new'  %></li>
  </ul>
</header>

<table>
  <thead>
    <tr>
      <th><%= t 'Curso' %></th>
      <th><%= t 'Categoria' %></th>
    </tr>
  </thead>
  <tbody>
    <% @cursos.each do |curso| %>
    <tr>
      <td><%= link_to curso.nome, [:admin, curso] %></td>
      <td><%= curso.categoria_curso.nome %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @cursos %>