<h1>Cursos</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Categoria</th>
  </tr>
<% @cursos.each do |curso| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= link_to curso.nome, [:admin, curso] %></td>
    <td><%= curso.categoria_curso.nome %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @cursos %>

<br />

<%= link_to 'Novo Curso', :action => 'new' %>
