<h1><%= @curso.nome %></h1>
<%= render :partial => 'menu', :locals => { :curso => @curso } %>
<article>
    <h2>Início</h2>
    <p id="notice"><%= notice %></p>
    
    <p>
      <b>Nome:</b>
      <%= @curso.nome %>
    </p>
    
    <p>
      <b>Categoria curso:</b>
      <%= @curso.categoria_curso.nome %>
    </p>
    
    <%= link_to (t 'Editar'), edit_admin_curso_path(@curso) %> | 
    <%= button_to (t 'Excluir'), [:admin, @curso], :confirm => 'Tem certeza disso?', :method => :delete %> | 
    <%= link_to (t 'Voltar'), admin_cursos_path %>
</article>
