%aside.sidebar
  .well
    %ul
      %li.home= link_to (t 'Home'), professor_lecture_path(@lecture)
      %li.details= link_to (t 'Details'), details_professor_lecture_path(@lecture)
      %li.group= link_to (t 'Students'), professor_lecture_lecture_students_path(@lecture)
      %li.files= link_to (t 'Files'), professor_lecture_files_path(@lecture)
      %li.mail= link_to (t 'Wall'), professor_lecture_wall_index_path(@lecture)
      %li.lessons= link_to (t 'Lessons'), professor_lecture_lessons_path(@lecture)
      %li.tests= link_to (t 'Tests'), professor_lecture_tests_path(@lecture)