<aside>
    <nav>
        <ul>
            <li class="home"><%= link_to (t 'Home'), professor_lecture_path(@lecture) %></li>
            <li class="details"><%= link_to (t 'Details'), details_professor_lecture_path(@lecture) %></li>
            <li class="group"><%= link_to (t 'Students'), students_professor_lecture_path(@lecture) %></li>
            <li class="files"><%= link_to (t 'Files'), professor_lecture_files_path(@lecture) %></li>
            <li class="mail"><%= link_to (t 'Wall'), professor_lecture_wall_index_path(@lecture) %></li>
            <li class="tests"><%= link_to (t 'Tests') %></li>
            <li class="abscences"><%= link_to (t 'Abscences') %></li>
        </ul>
    </nav>
</aside>