<h1><%= @lecture.name %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Home' %></h2>
  <p>
    <b><%= t 'ClassCode' %>:</b> <%= @lecture.code %>
  </p>
  
  <p>
    <b><%= t 'Status' %>:</b> <%= @lecture.end_date ? (t 'Finished') : (t 'InProgress') %>
  </p>
  
  <% if @lecture.professors.size > 1 %>
  <p>
    <b><%= t 'Professors' %>:</b> 
    <ul>
    	<% for professor in @lecture.professors %>
    	<li><%= professor.person.name %></li>
    	<% end %>
    </ul>
  </p>
  <% end %>
  
  <%= render :partial => 'lectures/updates' %>
</article>