<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'menu' %>
<article class="content">
  <header class="page-header">
  	<h2><%= t 'Home' %></h2>
  </header>
  
  <p>
    <b><%= t 'ClassCode' %>:</b> <%= @lecture.code %>
  </p>
  
  <p>
    <b><%= t 'Status' %>:</b> <%= @lecture.end_date ? (t 'Finished') : (t 'InProgress') %>
  </p>
  
  <% if @lecture.professors.size > 1 %>
  <p>
    <b><%= t 'Professors' %>:</b> 
    <ul>
    	<% for professor in @lecture.professors %>
    	<li><%= link_to professor.person.name, user_path(professor.person) %></li>
    	<% end %>
    </ul>
  </p>
  <% end %>
  
  <h3><%= t 'LatestUpdates' %></h3>
  <%= render :partial => 'lectures/updates' %>
</article>