<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'student/lectures/menu' %>
<article class="content">
	<div class="page-header">
		<h2><%= t 'Lessons' %></h2>
	</div>
	
	<% if @lessons %>
	<table>
		<thead>
			<tr>
				<th><%= t 'activerecord.attributes.lesson.title' %></th>
				<th><%= t 'activerecord.attributes.lesson.date' %></th>
			</tr>
		</thead>
		<tbody>
			<% for lesson in @lessons %>
			<tr>
				<td><%= link_to lesson.name, [:student, @lecture, lesson] %></td>
				<td><%= l lesson.date, :format => :long %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @lessons %>
	<% end %>
</article>
