<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'student/lectures/menu' %>
<article class="content">
	<header class="page-header">
		<h2><%= t @lesson.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), student_lecture_lessons_path(@lecture), :class => 'back' %></li>
		</ul>
	</header>
	
	<h3><%= t 'GeneralInformation' %></h3>
	
	<p>
		<b><%= t 'activerecord.attributes.lesson.date' %>:</b> <%= l @lesson.date, :format => :long %>
	</p>
	
	<% if @lesson.maximum_absences == 0 %>
	<p>
		<%= t 'ThisLessonDoesNotRequireYourPresence' %>
	</p>
	<% end %>

	<% if @lesson.description != '' %>
	<h3><%= t 'activerecord.attributes.lesson.description' %></h3>
	<%= raw(@lesson.description) %>
	<% end %>
</article>