<%= form_for([:admin, @course, @curriculum, @curriculum_module]) do |f| %>
  <%= f.error_messages %>
  
  <div class="clearfix">
  	<%= f.label :name, nil, :class => :required %>
  	<div class="input">
  		<%= f.text_field :name %>
  	</div>
  </div>
  
  <div class="clearfix">
  	<%= f.label :order %>
  	<div class="input">
  		<%= f.text_field :order %>
  	</div>
  </div>
  
  <div class="actions">
  	<%= f.submit nil, :class => 'btn primary'%>
  </div>
<% end %>
