<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article class="content">
  <header class="page-header">
    <h2><%= @curriculum.name %>: <%= t 'CurriculumModules' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_curriculum_path(@course, @curriculum), :class => 'back'  %></li>
      <% if !@curriculum.active %>
      <li><%= link_to ((t 'Add') + ' ' + (t 'activerecord.models.curriculum_module')), {:action => :new}, :class => 'new'  %></li>
      <% end %>
    </ul>
  </header>
  
  <table>
    <thead>
      <tr>
      	<th><%= t 'activerecord.attributes.curriculum_module.order' %>
        <th><%= t 'activerecord.attributes.curriculum_module.name' %></th>
      </tr>
    </thead>

    <tbody>
      <% @curriculum_modules.each do |curriculum_module| %>
      <tr>
        <td><%= curriculum_module.order %></td>
        <td><%= link_to curriculum_module.name, admin_course_curriculum_curriculum_module_path(@course, @curriculum, curriculum_module) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
