- content_for :title do 
  %h1= @course.name
  
= render :partial => 'admin/courses/menu', :locals => { :course => @course }

%article.content
  %header.page-header
    %h2= @curriculum.name + ': ' + (t 'Add') + ' ' + (t 'activerecord.models.curriculum_module')
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => :index}, :class => 'back'
      
  = render 'form'