<% content_for :title do %><h1><%= @course.name %></h1><% end %>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article class="content">
  <header class="page-header">
    <h2><%= @curriculum.name %>: <%= @curriculum_module.name %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => :index}, :class => 'back'  %></li>
      <% if !@curriculum.active %>
      <li><%= link_to (t 'Edit'), {:action => :edit}, :class => 'edit'  %></li>
      <li><%= button_to (t 'Remove'), {:action => "show"}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
      <% end %>
    </ul>
  </header>
  
  <p>
  	<b><%= t 'activerecord.attributes.curriculum_module.name' %></b>: 
  	<%= @curriculum_module.name %>
  </p>
  
  <p>
  	<b><%= t 'activerecord.attributes.curriculum_module.order' %></b>: 
  	<%= @curriculum_module.order %>
  </p>
</article>
