<h1>Parâmetros</h1>
<%= render :partial => 'admin/parametros/menu' %>
<article>
  <h2>Escolaridades</h2>
  <table>
    <tr>
      <th>Nome</th>
    </tr>
  
  <% @escolaridades.each do |escolaridade| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to escolaridade.nome, [:admin, escolaridade] %></td>
    </tr>
  <% end %>
  </table>
  
  <%= will_paginate @escolaridades %>
  
  <br />
  
  <%= link_to 'Nova Escolaridade', :action => 'new' %>
</h2>
