- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'professor/lectures/menu'

%article.content
  %header.page-header
    %h2= t 'Welcome'

	%h3= t 'LatestUpdates'
	= render :partial => 'lectures/updates'