<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pessoa_id %><br />
    <%= f.text_field :pessoa_id %>
  </div>
  <div class="field">
    <%= f.label :escolaridade_id %><br />
    <%= f.text_field :escolaridade_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
