<header>
  <h1><%= t 'Professores' %></h1>
  <ul id="toolbar">
    <li><%= link_to 'Novo Professor', new_admin_professor_path, :class => 'new' %></li>
  </ul>
</header>

<table>
  <thead>
    <tr>
      <th><%= t 'Nome' %></th>
      <th><%= t 'Escolaridade' %></th>
    </tr>
  </thead>
  <tbody>
    <% @professores.each do |professor| %>
    <tr>
      <td><%= link_to professor.pessoa.nome, [:admin, professor] %></td>
      <td><%= professor.escolaridade.nome %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @professores %>