<h1><%= t 'Professores' %></h1>

<table>
  <tr>
    <th><%= t 'Nome' %></th>
    <th><%= t 'Escolaridade' %></th>
  </tr>

<% @professores.each do |professor| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= link_to professor.pessoa.nome, [:admin, professor] %></td>
    <td><%= professor.escolaridade.nome %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @professores %>

<br />

<%= link_to 'Novo Professor', new_admin_professor_path %>
