<header>
  <h1>Professor</h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Editar'), edit_admin_professor_path(@professor), :class => 'edit' %></li> 
    <li><%= button_to (t 'Excluir'), [:admin, @professor], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li>
    <li><%= link_to (t 'Voltar'), admin_professores_path, :class => 'back' %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @professor.pessoa.nome %>
</p>

<p>
  <b>E-mail:</b>
  <%= @professor.pessoa.email %>
</p>

<p>
  <b>Escolaridade:</b>
  <%= @professor.escolaridade.nome %>
</p>