= form_for(@wall, :url => submit_url) do |f|
  = f.error_messages

  = f.fields_for :message do |m|
    .clearfix
      = m.label :subject
      .input
        = m.text_field :subject, :class => 'span6'
    
    .clearfix
      = m.label :content
      .input
        = m.text_area :content, :rows => 5, :class => 'span6', :required => 'required'
  
  .actions
    = f.submit nil, :class => 'btn primary'
