<%= form_for(@wall, :url => submit_url) do |f| %>
  <%= f.error_messages %>

	<%= f.fields_for :message do |m| %>
  <p>
    <%= m.label :subject, (t 'Subject') %><br />
    <%= m.text_field :subject %>
  </p>
  <p>
    <%= m.label :content, (t 'Message') %><br />
    <%= m.text_area :content, :rows => 10 %>
  </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
