<header class="page-header">
	<h2><%= t 'Wall' %></h2>
</header>

<%= render :partial => 'form', :locals => {:submit_url => submit_url} %>

<% if @walls %>
<h3><%= t 'WallPublications' %></h3>
<ul class="wall">
  <% for wall in @walls %>
  <%= render :partial => 'wall', :locals => {:wall => wall} %>
  <% end %>
</ul>
<% end %>

<%= will_paginate @walls %>