<h2><%= t 'Wall' %></h2>

<%= render :partial => 'form', :locals => {:submit_url => submit_url} %>

<% if @walls %>
<ul class="wall">
  <% for update in @walls %>
  <li>
  	<div class="photo">
  		<% if update.message.person.photo.exists? %>
  		<%= image_tag update.message.person.photo.url(:small) %>
  		<% else %>
  		<%= image_tag 'no-picture-small.png' %>
  		<% end %>
  	</div>
  	<div class="item">
  		<p class="title">
  			<%= link_to update.message.person.name, user_path(update.message.person) %> 
  			<%= t 'TimeOn' %> <%= l update.created_at, :format => :short %>:
  		</p>
  		<div class="content">
	  		<% if update.message.subject %>
	  		<h4><%= update.message.subject %></h4>
	  		<% end %>
	  		
	  		<%= simple_format(update.message.content) %>
	  	</div>
  	</div>
  </li>
  <% end %>
</ul>
<% end %>

<%= will_paginate @walls %>