<li class="file">
	<div class="photo">
		<% if file.person.photo.exists? %>
		<%= image_tag file.person.photo.url(:small) %>
		<% else %>
		<%= image_tag 'no-picture-small.png' %>
		<% end %>
	</div>
	<div class="item">
		<p class="title">
			<% if !@lecture %>
			[<%= link_to file.lecture.name, {:controller => :lectures, :action => :show, :id => file.lecture_id} %>] 
			<% end %>
			
			<%= link_to file.person.name, user_path(file.person) %> 
			<%= t 'UploadedANewFile' %>  
			<%= t 'TimeOn' %> <%= l file.created_at, :format => :short %>:
		</p>
		<div class="content">
  		<p><%= link_to file.title_or_name, {:controller => 'files', :action => :download, :lecture_id => file.lecture_id, :id => file.id}, :class => 'file' %></p>
  		
  		<%= file.description %>
  		
  		<% if @user.id == file.person_id || @professor %>
  	  <%= button_to (t 'DeleteThisFile'), {:controller => :files, :action => :show, :lecture_id => file.lecture_id, :id => file.id}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %>
  		<% end %>
  	</div>
	</div>
</li>