<%= form_for(@file, :url => submit_url, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<div class="clearfix">
    <%= f.label :title %>
    <div class="input">
    	<%= f.text_field :title %>
    </div>
 	</div>
  
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
    	<%= f.text_area :description, :rows => 5 %>
    </div>
  </div>

	<div class="clearfix">
		<%= label_tag (t 'Upload') %>
		<div class="input">
    	<%= file_field :file, :upload %>
    </div>
 	</div>

  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
