<h2><%= t 'Files' %></h2>

<%= render :partial => 'form', :locals => {:submit_url => submit_url} %>

<% if @files %>
  <h3><%= t 'Files' %></h3>
  <ul class="wall">
	  <% for file in @files %>
	  <%= render :partial => 'file', :locals => {:file => file} %>
	  <% end %>
	</ul>
	
  <%= will_paginate @files %>
  <% end %>