<h1><%= t 'Parameters' %></h1>
<%= render :partial => 'admin/parameters/menu' %>
<article>
  <header>
    <h2><%= t ' Scholarities' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'New') + ' ' + (t 'Scholarity')), new_admin_scholarity_path, :class => 'new' %></li>
    </ul>
  </header>

  <table>
    <thead>
      <tr>
        <th><%= t 'Name' %></th>
      </tr>
    </thead>
    <tbody>
      <% @scholarities.each do |scholarity| %>
      <tr>
        <td><%= link_to scholarity.name, [:admin, scholarity] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @scholarities %>
</article>
