- content_for :title do 
  %h1= t 'Parameters'
  
= render :partial => 'admin/parameters/menu'

%article.content
  %header.page-header
    %h2= (t 'New') + ' ' + (t 'activerecord.models.scholarity')
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
    
    
  = render 'form'