<%= form_for([:admin, @course, @curriculum, @curriculum_discipline]) do |f| %>
  <%= f.error_messages %>

	<% if !@curriculum.active %>
	<p>
  	<%= f.check_box :mandatory %> <%= f.label :mandatory %>
  </p>

	<p>
    <%= f.label :prerequisites %><br />
    <%= f.collection_select :prerequisite_ids, 
    												@curriculum.curriculum_disciplines.where('curriculum_disciplines.id <> ?', @curriculum_discipline.id), 
    												:id, 
    												:name, 
    												{}, 
    												{:multiple => true} %>
  </p>
  <% end %>
  
  <p>
    <%= f.label :curriculum_module_id %><br />
    <%= f.collection_select :curriculum_module_id, @curriculum.curriculum_modules, :id, :name, :include_blank => true %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
