<%= form_for([:admin, @course, @curriculum, @curriculum_discipline]) do |f| %>
  <%= f.error_messages %>

	<% if !@curriculum.active %>
	<div class="clearfix">
		<%= f.label :mandatory %>
		<div class="input">
  		<%= f.check_box :mandatory %>
  	</div>
  </div>

	<div class="clearfix">
    <%= f.label :prerequisites %>
    <div class="input">
    <%= f.collection_select :prerequisite_ids, 
    												@curriculum.curriculum_disciplines.where('curriculum_disciplines.id <> ?', @curriculum_discipline.id), 
    												:id, 
    												:name, 
    												{}, 
    												{:multiple => true, :class => :span6} %>
		</div>
 	</div>
  <% end %>
  
  <p>
    <%= f.label :curriculum_module_id %>
    <div class="input">
    	<%= f.collection_select :curriculum_module_id, @curriculum.curriculum_modules, :id, :name, :include_blank => true %>
    </div>
  </p>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
