<%= form_for([:admin, @course, @curriculum, @curriculum_discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :module %><br />
    <%= f.text_field :module %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
