<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'Editing' %> <%= t 'activerecord.models.curriculum_discipline' %></h2>
    <ul id="toolbar">
      <li><%= link_to  (t 'Back'), {:action => :show}, :class => 'back' %></li>
      <li><%= button_to (t 'Delete'), {:action => :show}, :confirm => I18n.t('AreYouSure'), :method => :delete, :class => 'delete' %></li> 
    </ul>
  </header>
  
  <%= render 'form' %>
</article>
