<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= t 'AddDisciplineToCurriculum' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_curriculum_path(@course, @curriculum), :class => 'back' %></li>
  </header>
  
  <%= form_tag({:action => 'create'}) do %>
    <p>
      <%= label_tag :curriculum_disciplines, (t 'Disciplines'), :class => :required %><br />
    	<%= collection_select :curriculum_disciplines, :discipline_ids, [], :id, :name, {}, {:multiple => true} %>
    </p>
  
  	<p>
      <%= label_tag (t 'activerecord.attributes.curriculum_discipline.curriculum_module_id') %><br />
    	<%= collection_select :curriculum_disciplines, :curriculum_module_id, @curriculum.curriculum_modules, :id, :name, :include_blank => true %>
    </p>
  
    <div class="actions">
      <%= submit_tag (t 'AddSelected') %>
    </div>
  <% end %>
</article>

<script language="Javascript">
  $(document).ready(function() {
  	Application.autocomplete('curriculum_disciplines_discipline_ids', '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
  })
</script>
