<% content_for :title do %><h1><%= @course.name %></h1><% end %>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'AddDisciplineToCurriculum' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_curriculum_path(@course, @curriculum), :class => 'back' %></li>
  </header>
  
  <%= form_tag({:action => 'create'}) do %>
    <div class="clearfix">
      <%= label_tag :curriculum_disciplines, (t 'Disciplines'), :class => :required %>
      <div class="input">
    		<%= collection_select :curriculum_disciplines, :discipline_ids, [], :id, :name, {}, {:multiple => true} %>
    	</div>
    </div>
  
  	<div class="clearfix">
      <%= label_tag (t 'activerecord.attributes.curriculum_discipline.curriculum_module_id') %>
      <div class="input">
    		<%= collection_select :curriculum_disciplines, :curriculum_module_id, @curriculum.curriculum_modules, :id, :name, :include_blank => true %>
    	</div>
   </div>
    
    <div class="clearfix">
    	<%= label_tag (t 'activerecord.attributes.curriculum_discipline.mandatory') %>
    	<div class="input">
  			<%= check_box_tag :mandatory %>
  		</div> 
    </div>
  
    <div class="actions">
      <%= submit_tag (t 'AddSelected') %>
    </div>
  <% end %>
</article>

<script language="Javascript">
  $(document).ready(function() {
  	Application.autocomplete('curriculum_disciplines_discipline_ids', '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
  })
</script>
