<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article>
  <header>
    <h2><%= @curriculum.name %>: <%= @curriculum_discipline.discipline.name %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_curriculum_path(@course, @curriculum), :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), edit_admin_course_curriculum_curriculum_discipline_path(@course, @curriculum, @curriculum_discipline), :class => 'edit' %></li>
      <li><%= button_to (t 'Delete'), {:action => :show}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
    </ul>
  </header>
  
  <p>
    <b><%= t 'activerecord.attributes.curriculum_discipline.curriculum_id' %>:</b> 
    <%= @curriculum.name %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.curriculum_discipline.mandatory' %>:</b> 
    <%= @curriculum_discipline.mandatory ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.curriculum_discipline.curriculum_module_id' %>:</b> 
    <%= @curriculum_discipline.curriculum_module.name if @curriculum_discipline.curriculum_module %>
  </p>
  
  <% if @curriculum_discipline.prerequisites.size > 0 %>
  <h3><%= t 'activerecord.attributes.curriculum_discipline.prerequisites' %></h3>
  <ul>
  	<% @curriculum_discipline.prerequisites.each do |curriculum_discipline| %>
    <li><%= link_to curriculum_discipline.name, [:admin, @course, @curriculum, curriculum_discipline] %></li>
    <% end %>
  </ul>
  <% end %>
  
  <h3><%= t 'activerecord.models.discipline' %></h3>
  
  <p>
    <b><%= t 'activerecord.attributes.discipline.code' %>:</b> 
    <%= @curriculum_discipline.discipline.code %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.discipline.name' %>:</b> 
    <%= @curriculum_discipline.discipline.name %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.discipline.version' %>:</b> 
    <%= @curriculum_discipline.discipline.version_fullname %>
  </p>
</article>
