<h1><%= t 'Parameters' %></h1>
<%= render :partial => 'menu' %>
<article class="content">
		<header class="page-header">
    	<h2><%= t 'System' %></h2>
    </header>
    
    <%= form_tag( :action => 'update' ) do %>
    <div class="clearfix">
      <%= label_tag (t 'Locale') %>
      <div class="input">
      	<%= select_tag :locale, options_for_select(lang_options_for_select(), I18n.locale) %>
      </div>
    </div>
    
    <div class="actions">
      <%= submit_tag nil, :class => 'btn primary' %>
    </div>
    <% end %>
</article>
