<h1><%= t 'Parameters' %></h1>
<%= render :partial => 'menu' %>
<article>
    <h2><%= t 'System' %></h2>
    
    <%= form_tag( :action => 'update' ) do %>
    <p>
      <%= label_tag (t 'Locale') %><br />
      <%= select_tag :locale, options_for_select(lang_options_for_select(), I18n.locale) %>
    </p>
    <div class="actions">
      <%= submit_tag %>
    </div>
    <% end %>
    
</article>
