- content_for :title do 
  %h1= t 'Parameters'
  
= render :partial => 'menu'

%article.content
  %header.page-header
    %h2= t 'System'
    
  = form_tag( :action => 'update' ) do 
    .clearfix
      = label_tag :locale, (t 'Locale')
      .input
        = select_tag :locale, options_for_select(lang_options_for_select(), I18n.locale)
        
    .clearfix
      .input
        %ul.inputs-list
          %li
            %label
              = check_box_tag :auto_generate_student_code, nil, @auto_generate_student_code.value == 't'
              %span= t 'AutoGenerateStudentCode'
        
    %fieldset
      %legend= t 'Institution'
      
      .clearfix
        = label_tag :institution_name, (t 'Name')
        .input
          = text_field_tag :institution_name, @institution_name.value
          
          
      .actions
        = submit_tag nil, :class => 'btn primary'