%aside.sidebar
  .well
    %ul
      %li.home= link_to (t 'Home'), student_lecture_path(@lecture)
      %li.details= link_to (t 'Details'), details_student_lecture_path(@lecture)
      %li.group= link_to (t 'Students'), student_lecture_lecture_students_path(@lecture)
      %li.files= link_to (t 'Files'), student_lecture_files_path(@lecture)
      %li.mail= link_to (t 'Wall'), student_lecture_wall_index_path(@lecture)
      %li.lessons= link_to (t 'Lessons'), student_lecture_lessons_path(@lecture)
      %li.statistics= link_to (t 'TestsAndAbscences'), tests_and_abscences_student_lecture_path(@lecture)