<aside>
    <nav>
        <ul>
            <li class="home"><%= link_to (t 'Home'), student_lecture_path(@lecture) %></li>
            <li class="details"><%= link_to (t 'Details'), details_student_lecture_path(@lecture) %></li>
            <li class="group"><%= link_to (t 'Students'), students_student_lecture_path(@lecture) %></li>
            <li class="files"><%= link_to (t 'Files'), student_lecture_files_path(@lecture) %></li>
            <li class="mail"><%= link_to (t 'Wall'), student_lecture_wall_index_path(@lecture) %></li>
            <li class="statistics"><%= link_to (t 'TestsAndAbscences'), tests_and_abscences_student_lecture_path(@lecture) %></li>
        </ul>
    </nav>
</aside>