<div class="page-header">
	<h1><%= t 'Lectures' %></h1>
</div>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.lecture.code' %></th>
      <th><%= t 'activerecord.attributes.discipline.name' %></th>
      <th><%= t 'activerecord.attributes.discipline.course_id' %></th>
    </tr>
  </thead>
  <tbody>
    <% for lecture in @lectures do %>
    <tr>
      <td><%= lecture.code %></td>
      <td><%= link_to lecture.name, {:action => 'show', :id => lecture.id} %></td>
      <td><%= lecture.discipline.course.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>