<h1><%= @lecture.name %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Home' %></h2>
  <p>
    <b><%= t 'ClassCode' %>:</b> <%= @lecture.code %>
  </p>
  <% if @lecture.professors.size == 1 %>
  <p>
    <b><%= t 'activerecord.models.Professor' %>:</b> <%= @lecture.professors[0].person.name %>
  </p>
  <% else %>
  <p>
    <b><%= t 'Professors' %>:</b> 
    <ul>
    	<% for professor in @lecture.professors %>
    	<li><%= professor.person.name %></li>
    	<% end %>
    </ul>
  </p>
  <% end %>
  
  <% if @lecture_student.lecture_situation_id %>
  <p>
  	<b><%= t 'FinalSituation' %>:</b> <%= t @lecture_student.lecture_situation.name %>
  </p>
  
  <p>
  	<b><%= t 'FinalGrade' %>:</b> <%= t @lecture_student.grade %>
  </p>
  
  <p>
  	<b><%= t 'FinalAttendance' %>:</b> <%= t @lecture_student.attendance %>%
  </p>
  <% end %>
  
  <h3><%= t 'LatestUpdates' %></h3>
  <%= render :partial => 'lectures/updates' %>
</article>