<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'menu' %>
<article class="content">
  <h2><%= t 'TestsAndAbscences' %></h2>
  
  <h3><%= t 'Tests' %></h3>
  <%= render :partial => 'lectures/tests' %>
  
  <br />
  
  <h3><%= t 'Absences' %></h3>
  <%= render :partial => 'lectures/absences' %> 
</article>