<h1>Matemática</h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'TestsAndAbscences' %></h2>
  
  <h3><%= t 'Tests' %></h3>
  <%= render :partial => 'lectures/tests' %>
  
  <br />
  
  <h3><%= t 'Absences' %></h3>
  <%= render :partial => 'lectures/abscences' %> 
</article>