- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'student/lectures/menu'

%article.content
  %header.page-header
    %h2= t 'TestsAndAbsences'
    
  %h3= t 'Tests'
  = render :partial => 'lectures/tests', :locals => {:tests_and_results => @tests_and_results}
  
  %h3= t 'Absences'
  = render :partial => 'lectures/absences', :locals => {:month_absences => @month_absences}