<%= form_for([:admin, @course, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code, :disabled => (@discipline.id) %>
  </p>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </p>
  
  <p>
    <%= f.label :equivalences %><br />
    <%= f.collection_select :equivalent_ids, @discipline.equivalents.size > 0 ? @discipline.equivalents : [], :id, :name, {}, {:multiple => true} %>
  </p>

  <p>
    <%= f.label :syllabus %><br />
    <%= f.text_area :syllabus %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    Application.autocomplete('discipline_prerequisite_ids', '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
    Application.autocomplete('discipline_equivalent_ids',   '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
  });
</script>
