<%= form_for([:admin, @course, @discipline]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code, :disabled => (@discipline.id) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
