<%= form_for([:admin, @course, @discipline]) do |f| %>
  <%= f.error_messages %>

  <div class="clearfix">
    <%= f.label :code, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :code, :disabled => (@discipline.id), :class => :span3 %></div>
  </div>
  
  <div class="clearfix">
    <%= f.label :name, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :name, :class => :span6 %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :credits %>
    <div class="input">
    	<%= f.text_field :credits, :class => :span3 %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :equivalents %>
    <div class="input">
    	<%= f.collection_select :equivalent_ids, @discipline.equivalents.size > 0 ? @discipline.equivalents : [], :id, :name, {}, {:multiple => true} %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :syllabus %>
    <div class="input">
    	<%= f.text_area :syllabus, :rows => 10, :class => :span9 %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    Application.autocomplete('discipline_prerequisite_ids', '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
    Application.autocomplete('discipline_equivalent_ids',   '<%= disciplines_path %>.js', '<%= t "Remove" %>', true)
  });
</script>
