<%= form_for([:admin, @course, @discipline]) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code, :disabled => (@discipline.id) %>
  </p>
  <p>
    <%= f.label :name, (t 'Name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :credits, (t 'Credits') %><br />
    <%= f.text_field :credits %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
