<h1><%= @curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @curso } %>
<article>
  <header>
    <h2>Editando Disciplina</h2>
    <ul id="toolbar">
      <li><%= link_to 'Exibir', [:admin, @curso, @disciplina], :class => 'show' %></li>
      <li><%= button_to (t 'Excluir'), [:admin, @curso, @disciplina], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li> 
      <li><%= link_to (t 'Voltar'), admin_curso_disciplinas_path(@curso), :class => 'back' %></li>
    </ul>
  </header>
  
  <%= render 'form' %>
</article>
