<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= t 'Disciplines' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.discipline')), new_admin_course_discipline_path(@course), :class => 'new' %></li>
    </ul>
  </header>

	<p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.discipline.code' %></th>
        <th><%= t 'activerecord.attributes.discipline.name' %></th>
        <th><%= t 'activerecord.attributes.discipline.credits' %></th>
        <th><%= t 'activerecord.attributes.discipline.version' %></th>
      </tr>
    </thead>
    <tbody>
      <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.code %></td>
        <td><%= link_to discipline.name, [:admin, @course, discipline] %></td>
        <td><%= discipline.credits %></td>
        <td><%= discipline.version %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @disciplines %>
</article>
