<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= t 'New' %> <%= t 'Discipline' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), admin_course_disciplines_path(@course), :class => 'back' %></li>
    </ul>
  </header>

  <%= render 'form' %>
</article>