<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= @discipline.name %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Edit'), edit_admin_course_discipline_path(@course, @discipline), :class => 'edit' %></li>
      <li><%= button_to (t 'Delete'), [:admin, @course, @discipline], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li> 
      <li><%= link_to (t 'Back'), admin_course_disciplines_path, :class => 'back' %></li>
    </ul>
  </header>

  <p id="notice"><%= notice %></p>
  
  <p>
    <b><%= t 'Code' %>:</b>
    <%= @discipline.code %>
  </p>
  
  <p>
    <b><%= t 'Name' %>:</b>
    <%= @discipline.name %>
  </p>
  
  <p>
    <b><%= t 'Version' %>:</b>
    <%= @discipline.version %>
  </p>
</article>
