<%= form_for([:admin, @course, @curriculum_student]) do |f| %>
  <%= f.error_messages %>

	<% if @curriculum_student.id == nil %>
  <p>
    <%= f.label :student_id, nil, :class => :required %><br/>
    <%= f.collection_select :student_id, [], :student_id, :name %>
  </p>
  <% end %>
  
  <p>
    <%= f.label :curriculum_id, nil, :class => :required %><br/>
    <%= f.select :curriculum_id, options_from_collection_for_select(@course.curriculums.only_finished.by_activeness, "id", "name") %>
  </p>
  
  <p>
    <%= f.label :created_at, nil, :class => :required %><br/>
    <%= f.date_select :created_at %>
  </p>
  
  <p>
    <%= f.label :active %><br/>
    <%= f.check_box :active %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>