<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'Students' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'Add') + ' ' + (t 'activerecord.models.curriculum_student')), new_admin_course_curriculum_student_path, :class => 'new'  %></li>
    </ul>
  </header>
  
  <form>
    <p class="search">
      <%= text_field_tag :search, params[:search], :type => :search %> 
      <%= select_tag :curriculum_id, 
		  							 options_from_collection_for_select(@course.curriculums, :id, :name, params[:curriculum_id]), 
		  							 :include_blank => true %> 
      <%= submit_tag (t 'Search'), :class => 'btn' %>
    </p>
  </form>

  <table>
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.student.code' %></th>
        <th><%= t 'activerecord.attributes.person.name' %></th>
        <th><%= t 'activerecord.attributes.curriculum_student.curriculum_id' %></th>
        <th><%= t 'activerecord.attributes.curriculum_student.active' %></th>
      </tr>
    </thead>

    <tbody>
      <% @curriculum_students.each do |curriculum_student| %>
      <tr>
        <td>
        	<%= curriculum_student.student.code %>
        </td>
        <td>
        	<%= link_to curriculum_student.student.person.name, admin_course_curriculum_student_path(@course, curriculum_student) %>
        </td>
        <td>
        	<%= link_to curriculum_student.curriculum.name, admin_course_curriculum_path(@course, curriculum_student.curriculum) %>
        </td>
        <td>
        	<%= curriculum_student.active ? (I18n.t 'BooleanYes') : (I18n.t 'BooleanNo') %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
