<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => {:course => @course} %>
<article class="content">
  <header class="page-header">
    <h2><%= t 'Add' %> <%= t 'activerecord.models.curriculum_student' %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => "index"}, :class => 'back' %></li>
    </ul>
  </header>

  <%= render 'form' %>
</article>

<script language="JavaScript">
  $(document).ready(function() {
    Application.autocomplete('curriculum_student_student_id', '<%= admin_students_path %>.js', '<%= t "Remove" %>', false)
  });
</script>