<p>
  <b><%= t 'Name' %>:</b>
  <%= user.name %>
</p>

<p>
  <b><%= t 'Email' %>:</b>
  <%= user.email %>
</p>

<p>
  <b>My Blog:</b>
  <%= link_to 'http://teste.wordpress.com' %>
</p>

<p>
  <b>Linkedin:</b>
  <%= link_to 'http://www.linkedin.com/user/teste' %>
</p>

<p>
  <b>Lattes:</b>
  <%= link_to 'http://www.lattes.com.br/curriculum/teste' %>
</p>

<h3><%= t 'CurrentCourses' %></h3>
<ul>
  <li><%= link_to 'Sistemas de Informação' %></li>
</ul>

<h3><%= t 'CurrentClasses' %></h3>
<ul>
  <li><%= link_to 'Lógica' %></li>
</ul>
