<p>
  <b><%= t 'activerecord.attributes.person.name' %>:</b>
  <%= user.name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.person.email' %>:</b>
  <%= user.email %>
</p>

<% if user.sites.exists? %>
  <h3>Sites</h3>
  <% for site in user.sites %>
  <ul>
    <li>
      <b><%= site.name %>:</b>
      <%= link_to site.url, site.full_url %>
    </li>
  </ul>
  <% end %>
<% end%>

<% if student %>
  <h3><%= t 'CurrentCourses' %></h3>
  <% if student.curriculums.exists?%>
    <ul>
      <% for curriculum in student.curriculums %>
      <li><%= curriculum.course.name %></li>
      <% end %>
    </ul>
  <% else %>
  <p><%= t 'ThisStudentIsNotRegisteredInAnyCourse' %></p>
  <% end %>
<% end %>

<% if student %>
  <h3><%= t 'CurrentClasses' %></h3>
  <% if student.current_lectures %>
  <ul>
    <% for lecture in student.current_lectures %>
    <li><%= lecture.discipline.name %></li>
    <% end %>
  </ul>
  <% end%>
<% end %>

<% if professor %>
  <h3><%= t 'CurrentClasses' %></h3>
  <% if professor.current_lectures %>
  <ul>
    <% for lecture in professor.current_lectures %>
    <li><%= lecture.discipline.name %></li>
    <% end %>
  </ul>
  <% end%>
<% end %>
