<p>
  <b><%= t 'Name' %>:</b>
  <%= user.name %>
</p>

<p>
  <b><%= t 'Email' %>:</b>
  <%= user.email %>
</p>

<% if @user.sites.exists? %>
  <h3>Sites</h3>
  <% for site in @user.sites %>
  <ul>
    <li>
      <b><%= site.name %>:</b>
      <%= link_to site.url %>
    </li>
  </ul>
  <% end %>
<% end%>

<% if @student %>
  <h3><%= t 'CurrentCourses' %></h3>
  <% if @student.curriculums.exists?%>
    <ul>
      <% for curriculum in @student.curriculums %>
      <li><%= curriculum.course.name %></li>
      <% end %>
    </ul>
  <% else %>
  <p><%= t 'ThisStudentIsNotRegisteredInAnyCourse' %></p>
  <% end %>
<% end %>

<% if @student %>
<h3><%= t 'CurrentClasses' %></h3>
<ul>
  <li><%= link_to 'Lógica' %></li>
</ul>
<% end %>
