<header>
  <h1><%= t 'Editing' %> <%= @user.name %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), {:action => 'index'}, :class => 'back'  %></li>
  </ul>
</header>
<p id="notice"><%= notice %></p>
<%= form_for(@user, :url => {:action => "update"}, :method => "post", :html => { :multipart => true }) do |f| %>
	
	<%= f.error_messages %>
  
  <p>
    <%= label_tag (t 'activerecord.attributes.person.name') %><br />
    <%= text_field(:user, :name) %>
  </p>
  <p>
    <%= label_tag (t 'activerecord.attributes.person.email') %><br />
    <%= text_field(:user, :email) %>
  </p>
  <h3><%= t 'Photo' %></h3>
  <p>
    <%= label_tag (t 'Upload') %><br />
    <%= file_field(:user, :photo) %><br />
    <small><%= t 'PhotoWillBeResizedTo180x240Px' %></small>
  </p>
  
  <% if @user.photo.exists? %>
  <p>
    <%= label_tag (t 'DeleteCurrentPhoto')%>  
    <%= check_box_tag :delete_photo %>
  </p>
  <% end %>

  <h3>Sites</h3>
  <% for site in @user.sites %>
    <p>
      <%= label_tag (t 'Name') %>, <%= label_tag (t 'Url') %> <br />
      <%= text_field_tag 'sites[][name]', site.name %> 
      <%= text_field_tag 'sites[][url]', site.url, :size => '60' %> 
      <%= submit_tag (t 'Remove'), {:type => 'button'} %>
    </p>
  <% end %>
  
  <p>
    <%= label_tag (t 'Name') %>, <%= label_tag (t 'Url') %> <br />
    <%= text_field_tag 'sites[][name]' %> 
    <%= text_field_tag 'sites[][url]', nil, :size => '60' %> 
    <%= submit_tag (t 'AddAnother'), {:class => 'add-another-item', :type => 'button'} %>
  </p>
  
  <h3><%= t 'ChangePassword' %></h3>
  <p>
  	<%= label_tag (t 'CurrentPassword') %><br />
  	<%= password_field(:password, :current) %>
  </p>
  <p>
  	<%= label_tag (t 'NewPassword') %><br />
  	<%= password_field(:password, :new) %>
  </p>
  <p>
  	<%= label_tag (t 'NewPassword') %> (<%= t 'Repeat'%>)<br />
  	<%= password_field(:password, :repeat) %>
  </p>
  
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    enableAddAnotherItem('<%= t "Remove" %>')
  });
</script>