<header class="page-header">
  <h1><%= t 'Editing' %> <%= @user.name %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), {:action => 'index'}, :class => 'back'  %></li>
  </ul>
</header>

<%= form_for(@user, :url => {:action => "update"}, :method => "post", :html => { :multipart => true }) do |f| %>
	
	<%= f.error_messages %>
  
  <div class="clearfix">
    <%= label_tag (t 'activerecord.attributes.person.name') %>
    <div class="input">
    	<%= text_field(:user, :name) %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= label_tag (t 'activerecord.attributes.person.email') %>
    <div class="input">
    	<%= text_field(:user, :email) %>
    </div>
  </div>
  
  <div class="clearfix">
  	<%= label_tag (t 'Photo') %>
  	<div class="input">
  		<%= file_field(:user, :photo) %>
  		<span class="help-block"><%= t 'PhotoWillBeResizedTo180x240Px' %></span>
  	</div>
  </div>
  
  <% if @user.photo.exists? %>
  <div class="clearfix">
    <%= label_tag (t 'DeleteCurrentPhoto') %>
    <div class="input">
    	<%= check_box_tag :delete_photo %>
    </div>
  </div>
  <% end %>

  <div class="clearfix">
  	<%= label_tag 'Sites' %>
  	<div class="input">
  		<% for site in @user.sites %>
		    <div class="clearfix">
		      <%= text_field_tag 'sites[][name]', site.name %> 
		      <%= text_field_tag 'sites[][url]', site.url, :size => '60' %> 
		      <%= submit_tag (t 'Remove'), {:type => 'button'} %>
		    </div>
		  <% end %>
		  
		  <div class="clearfix">
			  <%= text_field_tag 'sites[][name]', nil, :placeholder => I18n.t('Name') %> 
		    <%= text_field_tag 'sites[][url]', nil, :size => '60', :placeholder => 'URL' %> 
		    <%= submit_tag (t 'AddAnother'), {:class => 'add-another-item btn', :type => 'button'} %>
		  </div>
  	</div>
  </div>
  
  <fieldset>
  	<legend><%= t 'ChangePassword' %></legend>
  
	  <div class="clearfix">
	  	<%= label_tag (t 'CurrentPassword') %>
	  	<div class="input">
	  		<%= password_field(:password, :current) %>
	  	</div>
	  </div>
	  
	  <div class="clearfix">
	  	<%= label_tag (t 'NewPassword') %>
	  	<div class="input">
	  		<%= password_field(:password, :new) %>
	  	</div>
	  </div>
	  
	  <div class="clearfix">
	  	<%= label_tag ((t 'NewPassword') + ' (' + (t 'Repeat') + ')') %>
	  	<div class="input">
	  		<%= password_field(:password, :repeat) %>
	  	</div>
	  </div>
	</fieldset>
  
  <div class="actions">
    <%= submit_tag nil, :class => 'btn primary' %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    Application.enableAddAnotherItem('<%= t "Remove" %>')
  });
</script>