%header.page-header
  %h1= @user.name
  %ul#toolbar
    %li= link_to (t 'Edit'), {:action => 'edit'}, :class => 'edit'

#user
  %aside
    - if @user.photo.exists?
      = image_tag @user.photo.url(:medium)
    - else
      = image_tag 'no-picture-normal.png'
  
  %article
    = render :partial => 'data', :locals => { :user => @user, :student => @student, :professor => @professor }