<header>
  <h1><%= @user.name %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Edit'), {:action => 'edit'}, :class => 'edit'  %></li>
  </ul>
</header>

<aside id="user">
  <% if @user.photo.exists? %>
    <%= image_tag @user.photo.url() %>
  <% else %>
    <%= image_tag 'no-picture-normal.png' %>
  <% end %>
</aside>

<article>
  <%= render :partial => 'data', :locals => { :user => @user } %>
</article>
