<h1><%= t 'Welcome'%></h1>
<p>
	<%= t 'ThisIsTheAdministrationArea'%>
</p>
<h3><%= t 'SystemInformation' %></h3>
<p>
	<b><%= t 'UniVersion' %>:</b> <%= @uni_version %>
</p>
<p>
	<b><%= t 'RailsVersion' %>:</b> <%= @rails_version %>
</p>
<p>
	<b><%= t 'RubyVersion' %>:</b> <%= @ruby_version %>
</p>
