<%= form_for([:admin, @academic_period, @lecture, @lecture_student]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag :student_code, (t 'Student') %><br />
    <%= text_field_tag :student_code %>
  </p>
  
  <% if (@lecture_student.id) %>
  <p>
    <%= f.label :grade, (t 'Grade') %><br />
    <%= f.text_field :grade %>
  </p>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
