<%= form_for([:admin, @academic_period, @lecture, @lecture_student]) do |f| %>
  <% if @lecture_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture_student.errors.count, "error") %> prohibited this lecture_student from being saved:</h2>

      <ul>
      <% @lecture_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :student_id, (t 'Student') %><br />
    <%= f.text_field :student_id %>
  </p>
  
  <% if (@lecture_student.id): %>
  <p>
    <%= f.label :grade, (t 'Grade') %><br />
    <%= f.text_field :grade %>
  </p>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
