<%= form_for([:admin, @academic_period, @lecture, @lecture_student]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag :student_id, (t 'Student') %><br />
    <%= f.collection_select :student_id, @lecture_student.student ? [@lecture_student.student] : [], :student_id, :name %>
  </p>
  
  <% if (@lecture_student.id) %>
  <p>
    <%= f.label :grade, (t 'Grade') %><br />
    <%= f.text_field :grade %>
  </p>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
