<%= form_for([:admin, @academic_period, @lecture, @lecture_student]) do |f| %>
  <%= f.error_messages %>

	<div class="clearfix">
    <%= f.label :grade %>
    <div class="input">
    	<%= f.text_field :grade %>
    </div>
 	</div>
  
  <div class="clearfix">
    <%= f.label :attendance %>
    <div class="input">
    	<%= f.text_field :attendance %>
    </div>
  </div>
  
  <div class="clearfix">
		<%= f.label :lecture_situation_id %>
		<div class="input">
			<%= f.select :lecture_situation_id, LectureSituation.all.collect {|p| [ (t p.name), p.id ]}, {:include_blank => ''} %>
		</div>
	</div>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
