<% content_for :title do %><h1><%= @academic_period.name %></h1><% end %>
<%= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period } %>
<article class="content">
	<header class="page-header">
		<h2><%= @lecture.name %>: <%= @lecture_student.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), {:action => :show}, :class => 'back' %></li>
		</ul>
	</header>
	
	<%= render 'form' %>
</article>