<h1><%= @academic_period.name %></h1>
<%= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period } %>
<article>
	<header>
		<h2><%= @lecture.name %>: <%= @lecture_student.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), [:admin, @academic_period, @lecture], :class => 'back' %></li>
			<li><%= link_to (t 'Edit'), {:action => :edit}, :class => 'edit' %></li>
			<li><%= link_to (t 'Profile'), user_path(@lecture_student.student.person), :class => 'person' %></li>
			<li><%= button_to (t 'Delete'), {:action => :show}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
		</ul>
	</header>
	
	<p>
		<b><%= t 'activerecord.attributes.lecture_student.lecture_situation_id' %>:</b> 
		<%= @lecture_student.lecture_situation_id ? (t @lecture_student.lecture_situation.name) : (t 'InProgress') %>
	</p>
	
	<% if @lecture_student.lecture_situation_id %>
	<p>
		<b><%= t 'activerecord.attributes.lecture_student.grade' %>:</b> 
		<%= @lecture_student.grade %>
	</p>
	
	<p>
		<b><%= t 'activerecord.attributes.lecture_student.attendance' %>:</b> 
		<%= @lecture_student.attendance %>%
	</p>
	<% end %>
	
	<% if @tests_and_results -%>
	<h3><%= t 'Tests' %></h3>
	<%= render :partial => 'lectures/tests' %>
	<% end %>
	
	<h3><%= t 'Absences' %></h3>
	<%= render :partial => 'lectures/absences' %>
</article>