<%= form_for([:admin, @academic_period, @lecture]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code, :disabled => (@lecture.id) %>
  </p>
  
  <p>
    <%= label_tag :discipline_id, (t 'Discipline') %><br />
    <%= f.collection_select :discipline_id, @lecture.discipline ? [@lecture.discipline] : [], :id, :name %>
  </p>
  
  <p>
    <%= f.label :professor_ids, (t 'Professors') %><br />
    <%= f.collection_select :professor_ids, @lecture.professors, :id, :name, {}, {:multiple => true} %>
  </p>
  
  <p>
    <%= f.label :places, (t 'Places') %><br />
    <%= f.text_field :places %>
  </p>
  
  <h3><%= t 'TimeTable' %></h3>
  <p>
    <small><%= t 'TimeTableAdminNotice' %></small>
  </p>
  
  <% if @lecture.lecture_time_slots.exists? %>
  <% for time_slot in @lecture.lecture_time_slots %>
  <p>
    <%= select_tag 'weekday[]', options_for_select(get_day_names_map, time_slot.weekday) %>
    <%= text_field_tag 'start_time[]', time_slot.start_time_string, :class => 'time' %> <%= t 'until'%>  
    <%= text_field_tag 'end_time[]', time_slot.end_time_string, :class => 'time' %>
    <%= submit_tag (t 'Remove'), {:class => 'remove-item', :type => 'button'} %>
  </p>
  <% end %>
  <% end %>
  
  <p>
    <%= select_tag 'weekday[]', options_for_select(get_day_names_map) %>
    <%= text_field_tag 'start_time[]', nil, :class => 'time' %> <%= t 'until'%>  
    <%= text_field_tag 'end_time[]', nil, :class => 'time' %>
    <%= submit_tag (t 'AddAnother'), {:class => 'add-another-item', :type => 'button'} %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    autocomplete('lecture_discipline_id', '<%= disciplines_path %>.js', '<%= t "Remove" %>', false)
    autocomplete('lecture_professor_ids', '<%= professors_path %>.js', '<%= t "Remove" %>', true)
    enableAddAnotherItem('<%= t "Remove" %>')
  });
</script>