<%= form_for([:admin, @academic_period, @lecture]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code, :disabled => (@lecture.id) %>
  </p>
  
  <p>
    <%= label_tag :discipline_code, (t 'Discipline') %><br />
    <%= text_field_tag :discipline_code, @lecture.discipline ? @lecture.discipline.code : nil %>
  </p>
  
  <p>
    <%= f.label :professor_id, (t 'Professor') %><br />
    <%= f.text_field :professor_id %>
  </p>
  
  <p>
    <%= f.label :places, (t 'Places') %><br />
    <%= f.text_field :places %>
  </p>
  
  <h3><%= t 'TimeTable' %></h3>
  
  <p>
    <%= select_tag 'weekday[]', options_for_select(get_day_names_map) %>
    <%= text_field_tag 'start_time[]', nil, :class => 'time' %> <%= t 'until'%>  
    <%= text_field_tag 'end_time[]', nil, :class => 'time' %>
    <%= submit_tag (t 'AddAnother'), {:class => 'add-another-item', :type => 'button'} %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    autocomplete('discipline_code', '<%= disciplines_path %>.js', '<%= t "Remove" %>')
    autocomplete('lecture_professor_id', '<%= professors_path %>.js', '<%= t "Remove" %>')
    enableAddAnotherItem('<%= t "Remove" %>')
  });
</script>