<%= form_for([:admin, @academic_period, @lecture]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code, :disabled => (@lecture.id) %>
  </p>
  
  <p>
    <%= label_tag :discipline_code, (@lecture.id ? ((t 'Change') + ' ' + (t 'Discipline')) : (t 'Discipline')) %><br />
    <%= text_field_tag :discipline_code, @lecture.discipline ? @lecture.discipline.code : nil %>
    
    <% if @lecture.discipline_id %>
    <br/>
    <small><%= t 'Current' %> <%= t 'Discipline'%>: <%= @lecture.discipline.name %></small>
    <% end %>
  </p>
  
  <p>
    <%= f.label :professor_id, (@lecture.id ? ((t 'Change') + ' ' + (t 'Professor')) : (t 'Professor')) %><br />
    <%= f.text_field :professor_id %>
    
    <% if @lecture.professor_id %>
    <br/>
    <small><%= t 'Current' %> <%= t 'Professor'%>: <%= @lecture.professor.name %></small>
    <% end %>
  </p>
  
  <p>
    <%= f.label :places, (t 'Places') %><br />
    <%= f.text_field :places %>
  </p>
  
  <h3><%= t 'TimeTable' %></h3>
  <p>
    <small><%= t 'TimeTableAdminNotice' %></small>
  </p>
  
  <% for time_slot in @lecture.lecture_time_slots %>
  <p>
    <%= select_tag 'weekday[]', options_for_select(get_day_names_map, time_slot.weekday) %>
    <%= text_field_tag 'start_time[]', time_slot.start_time_string, :class => 'time' %> <%= t 'until'%>  
    <%= text_field_tag 'end_time[]', time_slot.end_time_string, :class => 'time' %>
    <%= submit_tag (t 'Remove'), {:class => 'remove-item', :type => 'button'} %>
  </p>
  <% end %>
  
  <p>
    <%= select_tag 'weekday[]', options_for_select(get_day_names_map) %>
    <%= text_field_tag 'start_time[]', nil, :class => 'time' %> <%= t 'until'%>  
    <%= text_field_tag 'end_time[]', nil, :class => 'time' %>
    <%= submit_tag (t 'AddAnother'), {:class => 'add-another-item', :type => 'button'} %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="JavaScript">
  $(document).ready(function() {
    autocomplete('discipline_code', '<%= disciplines_path %>.js', '<%= t "Remove" %>')
    autocomplete('lecture_professor_id', '<%= professors_path %>.js', '<%= t "Remove" %>')
    enableAddAnotherItem('<%= t "Remove" %>')
  });
</script>