<%= form_for([:admin, @academic_period, @lecture]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag :discipline_code, (t 'Discipline') %><br />
    <%= text_field_tag :discipline_code, @lecture.discipline ? @lecture.discipline.code : nil %>
  </p>
  
  <p>
    <%= f.label :professor_id, (t 'Professor') %><br />
    <%= f.text_field :professor_id %>
  </p>
  
  <p>
    <%= f.label :code, (t 'Code') %><br />
    <%= f.text_field :code %>
  </p>
  
  <p>
    <%= f.label :places, (t 'Places') %><br />
    <%= f.text_field :places %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>