- content_for :title do 
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => {:academic_period => @academic_period}

%article.content
  %header.page-header
    %h2= (t 'Editing') + ' ' + (t 'activerecord.models.lecture')
    %ul#toolbar
      %li= link_to (t 'Back'), [:admin, @academic_period, @lecture], :class => 'back'
      
  = render 'form'