<h1><%= @academic_period.name %></h1>
<%= render :partial => 'admin/academic_periods/menu', :locals => {:academic_period => @academic_period} %>
<article>
  <header>
    <h2><%= t 'Lecture' %>: <%= @lecture.discipline.name %></h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Back'), {:action => 'index'}, :class => 'back' %></li>
      <li><%= link_to (t 'Edit'), {:action => 'edit', :id => @lecture.id}, :class => 'edit' %></li>
      <li><%= button_to (t 'Delete'), [:admin, @academic_period, @lecture], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
      <li><%= link_to (t 'Add') + ' ' + (t 'Student'), new_admin_academic_period_lecture_lecture_student_path(@academic_period, @lecture), :class => 'new' %></li>
    </ul>
  </header>

  <p id="notice"><%= notice %></p>

  <p>
    <b><%= t 'Code' %>:</b> <%= @lecture.code %>
  </p>
  
  <p>
    <b><%= t 'Places' %>:</b> <%= @lecture.places %>
  </p>
  
  <p>
    <b><%= t 'Professor' %>:</b> <%= @lecture.professor.person.name %>
  </p>
  
  <h3><%= t 'Discipline' %></h3>
  
  <p>
    <b><%= t 'Code' %>:</b> <%= @lecture.discipline.code %>
  </p>
  
  <p>
    <b><%= t 'Name' %>:</b> <%= @lecture.discipline.name %>
  </p>
  
  <p>
    <b><%= t 'Version' %>:</b> <%= @lecture.discipline.version_fullname %>
  </p>
  
  <h3><%= t 'Students' %></h3>
  
  <% if @lecture_students %>
  <table>
    <thead>
      <tr>
        <th><%= t 'Code' %></th>
        <th><%= t 'Name' %></th>
      </tr>
    </thead>

    <tbody>
      <% @lecture_students.each do |lecture_student| %>
      <tr>
        <td><%= lecture_student.student.code %></td>
        <td><%= link_to lecture_student.student.person.name, admin_student_path(lecture_student.student) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @lecture_students %>
  <% end %>
</article>