- content_for :title do 
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => {:academic_period => @academic_period}

%article.content
  %header.page-header
    %h2= (t 'activerecord.models.lecture') + ': ' + @lecture.discipline.name
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
      %li= link_to (t 'Edit'), {:action => 'edit', :id => @lecture.id}, :class => 'edit'
      %li= link_to (t 'Add') + ' ' + (t 'Students'), new_admin_academic_period_lecture_lecture_student_path(@academic_period, @lecture), :class => 'new'
      %li= button_to (t 'Delete'), [:admin, @academic_period, @lecture], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete'
      
  %p
    %strong= (t 'activerecord.attributes.lecture.code') + ': '
    = @lecture.code
    
  %p
    %strong= (t 'activerecord.attributes.lecture.places') + ': '
    = @lecture.places
    
  - if @lecture.professors.size == 1
    %p
      %strong= (t 'activerecord.models.professor') + ': '
      = @lecture.professors[0].person.name
  - else
    %p
      %strong= (t 'Professors') + ': '
      %ul
        - for professor in @lecture.professors
          %li= professor.person.name
  
  %h3= t 'activerecord.models.discipline'
  
  %p
    %strong= (t 'activerecord.attributes.discipline.code') + ': '
    = @lecture.discipline.code
    
  %p
    %strong= (t 'activerecord.attributes.discipline.name') + ': '
    = @lecture.discipline.name
    
  %p
    %strong= (t 'activerecord.attributes.discipline.version') + ': '
    = @lecture.discipline.version_fullname
    
  - if @lecture.lecture_time_slots.exists?
    %h3= t 'TimeTable'
    %ul
      - for time_slot in @lecture.lecture_time_slots
        %li
          = (t 'date.day_names')[time_slot.weekday]
          = time_slot.start_time_string + ' - ' + time_slot.end_time_string
          
  - if @lecture_students
    %h3= t 'Students'
    %table
      %thead
        %tr
          %th= t 'activerecord.attributes.student.code'
          %th= t 'activerecord.attributes.person.name'
          %th= t 'activerecord.attributes.lecture_student.lecture_situation_id'
      %tbody
        - @lecture_students.each do |lecture_student|
          %tr
            %td= lecture_student.student.code
            %td= link_to lecture_student.name, [:admin, @academic_period, @lecture, lecture_student]
            %td= t lecture_student.lecture_situation.name if lecture_student.lecture_situation
          
    = will_paginate @lecture_students