<%= form_for([:professor, @lecture, @test]) do |f| %>
  <%= f.error_messages %>

	<div class="clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>

	<div class="clearfix">
		<%= f.label :date %>
		<div class="input">
			<%= f.datetime_select :date, {}, {:class => :span2} %>
		</div>
	</div>

  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
