<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= t 'Tests' %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'New') + ' ' + (t 'activerecord.models.test'), new_professor_lecture_test_path(@lecture), :class => 'new' %></li>
		</ul>
	</header>
	
	<% if @tests %>
	<table>
		<thead>
			<tr>
				<th><%= t 'activerecord.attributes.test.name' %></th>
				<th><%= t 'activerecord.attributes.test.date' %></th>
			</tr>
		</thead>
		<tbody>
			<% for test in @tests %>
			<tr>
				<td><%= link_to test.name, [:professor, @lecture, test] %></td>
				<td><%= l test.date, :format => :long if test.date %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @tests %>
	<% end %>
</article>
