- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'professor/lectures/menu'

%article.content
  %header.page-header
    %h2= t 'Tests'
    %ul#toolbar
      %li= link_to (t 'New') + ' ' + (t 'activerecord.models.test'), new_professor_lecture_test_path(@lecture), :class => 'new'
        
  - if @tests
    %table
      %thead
        %tr
          %th= t 'activerecord.attributes.test.name'
          %th= t 'activerecord.attributes.test.date'
      %tbody
        - for test in @tests
          %tr
            %td= link_to test.name, [:professor, @lecture, test]
            %td= l test.date, :format => :long if test.date
  
    = will_paginate @tests
