<% content_for :title do %><h1><%= @lecture.name %></h1><% end %>
<%= render :partial => 'professor/lectures/menu' %>
<article class="content">
	<header class="page-header">
		<h2><%= t @test.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), professor_lecture_tests_path(@lecture), :class => 'back' %></li>
			<li><%= link_to (t 'Edit'), edit_professor_lecture_test_path(@lecture, @test), :class => 'edit' %></li>
			<li><%= link_to (t 'Test_Results'), professor_lecture_test_test_results_path(@lecture, @test), :class => 'absences' %></li>
			<li><%= button_to (t 'Delete'), [:professor, @lecture, @test], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
		</ul>
	</header>
	
	<p>
		<b><%= t 'activerecord.attributes.test.name' %>:</b> 
		<%= @test.name %>
	</p>
	
	<p>
		<b><%= t 'activerecord.attributes.test.date' %>:</b> 
		<%= l @test.date, :format => :long if @test.date %>
	</p>
</article>