<%= form_for([:admin, @periodo]) do |f| %>
  <% if @periodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@periodo.errors.count, "error") %> prohibited this periodo from being saved:</h2>

      <ul>
      <% @periodo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :inicio, 'Aulas' %><br />
    <%= f.date_select :inicio %> até <%= f.date_select :fim %>
  </p>
  <p>
    <%= f.label :iniciomatricula, 'Matrícula' %><br />
    <%= f.date_select :iniciomatricula, :include_blank => true %> até 
    <%= f.date_select :fimmatricula, :include_blank => true %><br/>
    <small>Caso não seja informado o período de matrícula, a inscrição não será aberta para os alunos.</small>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
