<header>
  <h1><%= t 'Periodos' %></h1>
  <ul id="toolbar">
    <li><%= link_to 'Novo Periodo Letivo', new_admin_periodo_path, :class => 'new'  %></li>
  </ul>
</header>

<table>
  <thead>
    <tr>
      <th><%= t 'Nome' %></th>
      <th>Início</th>
      <th>Fim</th>
    </tr>
  </thead>
  <tbody>
    <% @periodos.each do |periodo| %>
    <tr>
      <td><%= link_to periodo.nome, [:admin, periodo] %></td>
      <td><%= l periodo.inicio %></td>
      <td><%= l periodo.fim %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @periodos %>