<h1><%= @periodo.nome %></h1>
<%= render :partial => 'menu', :locals => { :periodo => @periodo } %>
<article>
  <h2>Início</h2>
  <p id="notice"><%= notice %></p>
  
  <p>
    <b>Nome:</b>
    <%= @periodo.nome %>
  </p>
  
  <p>
    <b>Aulas:</b>
    <%= l @periodo.inicio, :format => :long %> à <%= l @periodo.fim, :format => :long %>
  </p>
  
  <% if @periodo.iniciomatricula and @periodo.fimmatricula %>
  <p>
    <b>Matrícula:</b>
    <%= l @periodo.iniciomatricula, :format => :long %> à <%= l @periodo.fimmatricula, :format => :long %>
  </p>
  <% end %>
  
  <%= link_to (t 'Editar'), edit_admin_periodo_path(@periodo) %> | 
  <%= link_to (t 'Voltar'), admin_periodos_path %>
  <%= button_to 'Excluir', [:admin, @periodo], :confirm => 'Tem certeza disso?', :method => :delete %>
</article>
