<h1><%= @periodo.nome %></h1>
<%= render :partial => 'menu', :locals => { :periodo => @periodo } %>
<article>
  <header>
    <h2>Início</h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Voltar'), admin_periodos_path, :class => 'back' %></li>
      <li><%= link_to (t 'Editar'), edit_admin_periodo_path(@periodo), :class => 'edit' %></li>
      <li><%= button_to (t 'Excluir'), [:admin, @periodo], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li> 
    </ul>
  </header>
  
  <p id="notice"><%= notice %></p>
  
  <p>
    <b>Nome:</b>
    <%= @periodo.nome %>
  </p>
  
  <p>
    <b>Aulas:</b>
    <%= l @periodo.inicio, :format => :long %> à <%= l @periodo.fim, :format => :long %>
  </p>
  
  <% if @periodo.iniciomatricula and @periodo.fimmatricula %>
  <p>
    <b>Matrícula:</b>
    <%= l @periodo.iniciomatricula, :format => :long %> à <%= l @periodo.fimmatricula, :format => :long %>
  </p>
  <% end %>
</article>
