<%= form_for([:admin, @curso, @cadeira]) do |f| %>
  <% if @cadeira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadeira.errors.count, "error") %> prohibited this cadeira from being saved:</h2>

      <ul>
      <% @cadeira.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :creditos %><br />
    <%= f.text_field :creditos %>
  </div>
  <div class="field">
      <%= f.label :prerequisitos %>
      <%= f.select :prerequisito_ids, 
                   @curso.cadeiras.all.collect {|c| [c.nome, c.id]}.delete_if {|i| i[1] == @cadeira.id}, 
                   { :selected => @cadeira.prerequisito_ids }, 
                   :multiple => true %>
  </div>
  <%= f.hidden_field :curso_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
