<h1><%= @cadeiras[0].curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @cadeiras[0].curso } %>
<article>
    <h2>Cadeiras</h2>
    
    <table>
      <tr>
        <th>Nome</th>
        <th>Creditos</th>
        <th></th>
        <th></th>
      </tr>
    
    <% @cadeiras.each do |cadeira| %>
      <tr>
        <td><%= link_to cadeira.nome, [:admin, cadeira.curso, cadeira] %></td>
        <td><%= cadeira.creditos %></td>
        <td><%= link_to 'Edit', edit_admin_curso_cadeira_path(cadeira.curso, cadeira) %></td>
        <td><%= link_to 'Destroy', [:admin, cadeira.curso, cadeira], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
    
    <br />
    
    <%= link_to 'Criar nova Cadeira', new_admin_curso_cadeira_path %>
</article>
