<h1><%= @curso.nome %></h1>
<%= render :partial => 'admin/cursos/menu', :locals => { :curso => @curso } %>
<article>
    <h2>Cadeiras</h2>
    
    <table>
      <tr>
        <th>Nome</th>
        <th>Creditos</th>
      </tr>
    
    <% @cadeiras.each do |cadeira| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= link_to cadeira.nome, [:admin, cadeira.curso, cadeira] %></td>
        <td><%= cadeira.creditos %></td>
      </tr>
    <% end %>
    </table>
    
    <br />
    
    <%= link_to 'Nova Cadeira', new_admin_curso_cadeira_path %>
</article>
