<%= form_for(@curriculum_student, :url => admin_course_course_students_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag :student_code, (t 'Student') %><br/>
    <%= text_field_tag :student_code %><br />
  </p>
  
  <p>
    <%= f.label :curriculum_id, (t 'Curriculum') %><br/>
    <%= f.select :curriculum_id, options_from_collection_for_select(@course.curriculums, "id", "name") %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>