<%= form_for(@curriculum_student, :url => admin_course_course_students_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id, (t 'Student') %><br/>
    <%= f.collection_select :student_id, @curriculum_student.student ? [@curriculum_student.student] : [], :student_id, :name %>
  </p>
  
  <p>
    <%= f.label :curriculum_id, (t 'Curriculum') %><br/>
    <%= f.select :curriculum_id, options_from_collection_for_select(@course.curriculums, "id", "name") %>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>