<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <h2>Alunos</h2>
  
  <form>
    <p>
      <%= text_field_tag :search %> 
      <%= submit_tag (t 'Search')%>
    </p>
  </form>

  <table>
    <thead>
      <tr>
        <th>Matrícula</th>
        <th>Nome</th>
      </tr>
    </thead>

    <% @aluno = Student.first %>  

    <tbody>
      <tr>
        <td>029298101</td>
        <td><%= link_to 'Nome do aluno A', [:admin, @aluno] %></td>
      </tr>
      <tr>
        <td>029218101</td>
        <td><%= link_to 'Nome do aluno B', [:admin, @aluno] %></td>
      </tr>
      <tr>
        <td>029238101</td>
        <td><%= link_to 'Nome do aluno C', [:admin, @aluno] %></td>
      </tr>
    </tbody>
  </table>
</article>
