<h1><%= @course.name %></h1>
<%= render :partial => 'admin/courses/menu', :locals => { :course => @course } %>
<article>
  <header>
    <h2><%= t 'Students' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'Add') + ' ' + (t 'Student')), new_admin_course_course_student_path, :class => 'new'  %></li>
    </ul>
  </header>
  
  <form>
    <p>
      <%= text_field_tag :search %> 
      <%= submit_tag (t 'Search')%>
    </p>
  </form>

  <table>
    <thead>
      <tr>
        <th><%= t 'Code' %></th>
        <th><%= t 'Name' %></th>
      </tr>
    </thead>

    <tbody>
      <% @curriculum_students.each do |curriculum_student| %>
      <tr>
        <td><%= curriculum_student.student.code %></td>
        <td><%= link_to curriculum_student.student.person.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
