<h1><%= t 'Welcome'%></h1>

<p id="notice"><%= notice %></p>

<p id="alert"><%= alert %></p>

<aside class="aside-clean">
	<h3 class="no-top-margin"><%= t 'NextEvents' %></h3>
	<%= render 'student/reports/schedule/next_events' %>
</aside>

<article>
	<h3 class="no-top-margin"><%= t 'LatestUpdates' %></h3>
	<%= render :partial => 'lectures/updates' %>
</article>
