- content_for :title do
  %h1= t 'Welcome'

%aside{:class => "sidebar aside-clean"}
  %h3= t 'NextEvents'
  = render 'student/reports/schedule/next_events'

%article.content
  %h3= t 'LatestUpdates'
  = render :partial => 'lectures/updates'
