%h1= t 'About'
%p= t 'AboutContent'
%h4= t 'InitialUsers'
%ul
  %li
    %b= "#{t 'Administrator'}:"
    = 'admin, admin'
  %li
    %b= "#{t 'Professor'}:"
    = 'professor@uni.com, professor@uni.com'
  %li
    %b= "#{t 'Student'}:"
    = 'student, student'
