<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= @lesson.name %>: <%= t 'Absences' %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), professor_lecture_lesson_path(@lecture, @lesson), :class => 'back' %></li>
		</ul>
	</header>
	
	<p id="notice"><%= notice %></p>
	
	<%= form_tag({:action => :create}) do %>
	<table>
		<thead>
			<tr>
				<th><%= t 'activerecord.attributes.lesson_absence.lecture_student_id' %></th>
				<th><%= t 'activerecord.attributes.lesson_absence.ammount' %></th>
			</tr>
		</thead>
		<tbody>
		<% for lecture_student in @lecture_students %>
		<tr>
		  <td>
		    <%= lecture_student.name %>
		    <%= hidden_field_tag 'lecture_student_id[]', lecture_student.id %>
		  </td>
		  <td>
		    <%= text_field_tag 'lecture_student_ammount[]', :value => @absences[lecture_student.id] %>
		  </td>
		</tr>
		<% end %>
		</tbody>
	</table>
	
	<div class="actions">
    <%= submit_tag %>
  </p>
	<% end %>
</article>

<script language="Javascript">
  $(document).ready(function() {
  	$('input[name*=ammount]').spinner({min: 0, max: <%= @lesson.maximum_absences %>})
  })
</script>
