<%= form_for([:professor, @lecture, @lecture_student]) do |f| %>
  <%= f.error_messages %>

	<div class="clearfix">
		<%= f.label :grade %>
		<div class="input">
			<%= f.text_field :grade %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :attendance, I18n.t('activerecord.attributes.lecture_student.attendance') + ' (%)' %> 
		<div class="input">
			<%= f.text_field :attendance %>
			<span class="help-block"><%= t 'Suggestion' %>: <%= @suggested_attendance %>%</span>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :lecture_situation_id %>
		<div class="input">
			<%= f.select :lecture_situation_id, LectureSituation.all.collect {|p| [ (t p.name), p.id ]}, {:include_blank => ''} %>
		</div>
	</div>
	
	<div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
