<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<header>
		<h2><%= t @lecture_student.name %></h2>
		<ul id="toolbar">
			<li><%= link_to (t 'Back'), {:action => :show}, :class => 'back' %></li>
		</ul>
	</header>
	
	<%= render 'form' %>
	
</article>