- content_for :title do
  %h1= @lecture.name
  
= render :partial => 'professor/lectures/menu'

%article.content
  %header.page-header
    %h2= @lecture_student.name
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => :show}, :class => 'back'
    
  = render 'form'