<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<h2><%= t 'Students' %></h2>
	
	<table class="people">
	  <tbody>
	    <% for lecture_student in @lecture_students do %>
	    <tr>
	    	<td class="photo">
	    		<% if lecture_student.student.person.photo.exists? %>
		  		<%= image_tag lecture_student.student.person.photo.url(:thumb) %>
		  		<% else %>
		  		<%= image_tag 'no-picture-thumb.png' %>
		  		<% end %>
	    	</td>
	      <td><%= link_to lecture_student.name, [:professor, @lecture, lecture_student] %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<%= will_paginate @lecture_students %>
</article>