<h1><%= @lecture.name %></h1>
<%= render :partial => 'professor/lectures/menu' %>
<article>
	<h2><%= t 'Students' %></h2>
	
	<form id="search">
		<p>
			<%= text_field_tag :search, params[:search], :type => :search %> 
			<%= select_tag :lecture_situation_id, 
	  							   options_for_select(lecture_situations_options, params[:lecture_situation_id]), 
	  							   :include_blank => true %> 
	  	<%= submit_tag (t 'Search') %>
	  </p>
	</form>
	
	<table>
	  <thead>
	  	<tr>
	  		<th><%= t 'activerecord.attributes.person.name' %></th>
	  		<th><%= t 'activerecord.attributes.lecture_student.lecture_situation_id' %></th>
	  	</tr>
	  </thead>
	  <tbody>
	    <% for lecture_student in @lecture_students do %>
	    <tr>
	    	<td><%= link_to lecture_student.name, [:professor, @lecture, lecture_student] %></td>
	      <td><%= t lecture_student.lecture_situation.name if lecture_student.lecture_situation %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<%= will_paginate @lecture_students %>
</article>