= form_for([:admin, @course]) do |f|
  = f.error_messages
  
  .clearfix
    = f.label :code, nil, :class => 'required'
    .input
      = f.text_field :code, :class => 'input_small', :required => 'required'
  
  .clearfix
    = f.label :name, nil, :class => 'required'
    .input
      = f.text_field :name, :class => 'input_xlarge', :required => 'required'

  .clearfix
    = f.label :course_category_id
    .input
      = f.select :course_category_id, CourseCategory.all.collect {|c| [ c.name, c.id ] }
  
  - for partialUrl in UniBroker.instance.courseFormPartialUrls
    = render :partial => partialUrl, :locals => {:f => f}
  
  .actions
    = f.submit nil, :class => 'btn primary'
