<%= form_for([:admin, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :course_category_id %><br />
    <%= f.select :course_category_id, CourseCategory.all.collect {|c| [ c.name, c.id ] } %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
