<%= form_for([:admin, @course]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :code, :class => :input_small %>
    </div>
  </p>
  <p>
    <%= f.label :name, nil, :class => :required %>
    <div class="input">
    	<%= f.text_field :name, :class => :input_xlarge %>
    </div>
  </p>
  <p>
    <%= f.label :course_category_id %>
    <div class="input">
    	<%= f.select :course_category_id, CourseCategory.all.collect {|c| [ c.name, c.id ] } %>
    </div>
  </p>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
