<header>
  <h1><%= t 'Courses' %></h1>
  <ul id="toolbar">
    <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.course')), new_admin_course_path, :class => 'new'  %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.course.code' %></th>
      <th><%= t 'activerecord.attributes.course.name' %></th>
      <th><%= t 'activerecord.attributes.course.course_category_id' %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.code %></td>
      <td><%= link_to course.name, [:admin, course] %></td>
      <td><%= course.course_category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @courses %>