<h1><%= @curso.nome %></h1>
<%= render :partial => 'menu', :locals => { :curso => @curso } %>
<article>
    <header>
      <h2>Início</h2>
      <ul id="toolbar">
        <li><%= link_to (t 'Voltar'), admin_cursos_path, :class => 'back' %></li>
        <li><%= link_to (t 'Editar'), edit_admin_curso_path(@curso), :class => 'edit' %></li>
        <li><%= button_to (t 'Excluir'), [:admin, @curso], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li> 
      </ul>
    </header>
    
    <p id="notice"><%= notice %></p>
    
    <p>
      <b>Nome:</b>
      <%= @curso.nome %>
    </p>
    
    <p>
      <b>Categoria curso:</b>
      <%= @curso.categoria_curso.nome %>
    </p>
    
    
</article>
