<%= form_for([:admin, @professor]) do |f| %>
  <%= f.error_messages %>

  <%= f.fields_for :person do |p| %>
  <div class="clearfix">
    <%= p.label :name, nil, :class => :required %>
    <div class="input">
    	<%= p.text_field :name, :class => :input_xlarge %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= p.label :email, nil, :class => :required %>
    <div class="input">
    	<%= p.text_field :email, :class => :input_xlarge %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= p.label :scholarity_id %>
    <div class="input">
    	<%= p.select :scholarity_id, Scholarity.all.collect {|it| [it.name, it.id]}, :include_blank => true %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= p.label :date_birth %>
    <div class="input">
    	<%= p.date_select :date_birth, :start_year => 1900, :end_year => Time.now.year, :include_blank => true %>
    </div>
  </div>
  <% end %>
  
  <div class="clearfix">
  	<%= f.label :active %>
  	<div class="input">
    	<%= f.check_box :active %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= label_tag (t 'ResetPassword') %>
    <div class="input">  
	    <%= check_box_tag :reset_password %>
	    <span class="help-block"><%= t 'PasswordWillBeTheProfessorEmail' %></span>
	  </div>
  </div>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn primary' %>
  </div>
<% end %>
