<%= form_for([:admin, @professor]) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |p| %>
  <p>
    <%= p.label :name %><br />
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.label :email %><br />
    <%= p.text_field :email %>
  </p>
  <% end %>
  <p>
    <%= f.label :scholarity_id %><br />
    <%= f.select :scholarity_id, Scholarity.all.collect {|it| [it.name, it.id]} %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
