<%= form_for([:admin, @professor]) do |f| %>
  <%= f.error_messages %>

  <%= f.fields_for :person do |p| %>
  <p>
    <%= p.label :name %><br />
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.label :email %><br />
    <%= p.text_field :email %>
  </p>
  <% end %>
  <p>
    <%= f.label :scholarity_id %><br />
    <%= f.select :scholarity_id, Scholarity.all.collect {|it| [it.name, it.id]} %>
  </p>
  <p>
    <%= label_tag (t 'ResetPassword') %>  
    <%= check_box_tag :reset_password %><br />
    <small><%= t 'PasswordWillBeTheProfessorEmail' %></small>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
