<header>
  <h1><%= t 'Editing' %> <%= t 'Professor' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Show'), [:admin, @professor], :class => 'show' %></li>
    <li><%= link_to (t 'Back'), admin_professors_path, :class => 'back' %></li>
  </ul>
</header>

<%= render 'form' %>