<header>
  <h1><%= t 'Professors' %></h1>
  <ul id="toolbar">
    <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.professor')), new_admin_professor_path, :class => 'new' %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.person.name' %></th>
      <th><%= t 'activerecord.attributes.professor.scholarity_id' %></th>
    </tr>
  </thead>
  <tbody>
    <% @professors.each do |professor| %>
    <tr>
      <td><%= link_to professor.name, [:admin, professor] %></td>
      <td><%= professor.scholarity.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @professors %>