<header>
  <h1><%= t 'activerecord.models.professor' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Back'), admin_professors_path, :class => 'back' %></li>
    <li><%= link_to (t 'Profile'), user_path(@professor.person), :class => 'person' %></li>
    <li><%= link_to (t 'Edit'), edit_admin_professor_path(@professor), :class => 'edit' %></li> 
    <li><%= button_to (t 'Delete'), [:admin, @professor], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
  </ul>
</header>

<p>
  <b><%= t 'activerecord.attributes.person.name' %>:</b>
  <%= @professor.person.name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.person.email' %>:</b>
  <%= @professor.person.email %>
</p>

<p>
  <b><%= t 'activerecord.attributes.professor.scholarity_id' %>:</b>
  <%= @professor.scholarity.name %>
</p>