<header>
  <h1><%= t 'Professor' %></h1>
  <ul id="toolbar">
    <li><%= link_to (t 'Edit'), edit_admin_professor_path(@professor), :class => 'edit' %></li> 
    <li><%= button_to (t 'Delete'), [:admin, @professor], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete' %></li>
    <li><%= link_to (t 'Back'), admin_professors_path, :class => 'back' %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @professor.person.name %>
</p>

<p>
  <b>E-mail:</b>
  <%= @professor.person.email %>
</p>

<p>
  <b>Scholarity:</b>
  <%= @professor.scholarity.name %>
</p>