= form_for([:admin, @course_category]) do |f|
  = f.error_messages
  
  .clearfix
    = f.label :name, nil, :class => 'required'
    .input
      = f.text_field :name, :required => 'required'
      
  .actions
    = f.submit nil, :class => 'btn primary'