<h1><%= t 'Parameters' %></h1>
  
<%= render :partial => 'admin/parameters/menu' %>
<article>
  <header>
    <h2><%= t 'CourseCategories' %></h2>
    <ul id="toolbar">
      <li><%= link_to ((t 'New') + ' ' + (t 'activerecord.models.course_category')), {:action => 'new'}, :class => 'new' %></li>
    </ul>
  </header>

	<p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.course_category.name' %></th>
      </tr>
    </thead>
  
    <tbody>
      <% @course_categories.each do |course_category| %>
      <tr>
        <td><%= link_to course_category.name, [:admin, course_category] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @course_categories %>  
</article>
