<h1>Parâmetros</h1>
<%= render :partial => 'admin/parametros/menu' %>
<article>
  <header>
    <h2>Categoria de Curso</h2>
    <ul id="toolbar">
      <li><%= link_to (t 'Editar'), {:action => 'edit', :id => @categoriacurso.id}, :class => 'edit' %></li>
      <li><%= button_to (t 'Excluir'), [:admin, @categoriacurso], :confirm => 'Tem certeza disso?', :method => :delete, :class => 'delete' %></li> 
      <li><%= link_to (t 'Voltar'), {:action => 'index'}, :class => 'back' %></li>
    </ul>
  </header>

  <p id="notice"><%= notice %></p>
  
  <p>
    <b>Nome:</b>
    <%= @categoriacurso.nome %>
  </p>
</article>