- content_for :title do
  %h1= t 'Parameters'
  
= render :partial => 'admin/parameters/menu'

%article.content
  %header.page-header
    %h2= t 'activerecord.models.course_category'
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
      %li= link_to (t 'Edit'), {:action => 'edit', :id => @course_category.id}, :class => 'edit'
      %li= button_to (t 'Delete'), [:admin, @course_category], :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete'
  
  %p
    %strong= (t 'activerecord.attributes.course_category.name') + ':'
    = @course_category.name