<ul>
  <li><%= link_to (t 'Start'), :controller => 'admin/home' %></li>
  <li><%= link_to (t 'Courses'), :controller => 'admin/courses' %></li>
  <li><%= link_to (t 'Professors'), :controller => 'admin/professors' %></li>
  <li><%= link_to (t 'Students'), :controller => 'admin/students' %></li>
  <li><%= link_to (t 'AcademicPeriods'), :controller => 'admin/academic_periods' %></li>
  <li><%= link_to (t 'Reports'), admin_reports_path %></li>
  <li><%= link_to (t 'Parameters'), :controller => 'admin/parameters' %></li>
</ul>