%ul.nav
  %li{:class => menu_class_start}= link_to (t 'Start'), :controller => 'admin/home'
  %li{:class => menu_class_courses}= link_to (t 'Courses'), :controller => 'admin/courses'
  %li{:class => menu_class_professors}= link_to (t 'Professors'), :controller => 'admin/professors'
  %li{:class => menu_class_students}= link_to (t 'Students'), :controller => 'admin/students'
  %li{:class => menu_class_academic_periods}= link_to (t 'AcademicPeriods'), :controller => 'admin/academic_periods'
  %li{:class => menu_class_parameters}= link_to (t 'Parameters'), :controller => 'admin/parameters'