<ul>
  <li><%= link_to (t 'Inicio'), :controller => 'admin/home' %></li>
  <li><%= link_to (t 'Cursos'), :controller => 'admin/cursos' %></li>
  <li><%= link_to (t 'Professores'), :controller => 'admin/professores' %></li>
  <li><%= link_to (t 'Alunos'), :controller => 'admin/alunos' %></li>
  <li><%= link_to (t 'Periodos'), :controller => 'admin/periodos' %></li>
  <li><%= link_to (t 'Relatorios') %></li>
  <li><%= link_to (t 'Parametros'), :controller => 'admin/parametros' %></li>
</ul>