<!DOCTYPE html>
<html>
<head>
  <title>Uni - Sistema de Gestão Universitária</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
    <header>
        <h1>
            <a href="/">Uni</a>
            <span>Sistema de Gestão Universitária</span>
        </h1>
        <section id="user">
            Logado como <%= link_to 'Niguém, ainda' %> | 
            Perfil: Administrador <%= link_to 'Trocar Perfil' %> | 
            <%= link_to 'Sair' %>
        </section>
    </header>
    <nav id="main-nav">
        <ul>
            <li><%= link_to 'Início', :controller => 'admin/home' %></li>
            <li><%= link_to 'Cursos', :controller => 'admin/cursos' %></li>
            <li><%= link_to 'Professores', :controller => 'admin/professores' %></li>
            <li><%= link_to 'Alunos', :controller => 'admin/alunos' %></li>
            <li><%= link_to 'Períodos', :controller => 'admin/periodos' %></li>
            <li><%= link_to 'Relatórios' %></li>
            <li><%= link_to 'Parâmetros', :controller => 'admin/parametros' %></li>
        </ul>
    </nav>
    <section id="content">
        <div id="breadcrumbs">
            <%= get_bread_crumb(request.request_uri).html_safe %>
        </div>
        <%= yield %>
    </section>
    <footer>
        <b>Uni</b> &mdash; Sistema de Gestão Universitária<br/>
        <p id="license">
          Copyright © 2011 <%= link_to 'NomeDaEmpresa', 'http://www.sitedaempresa.org' %><br/>
          <small>
            Este trabalho está licenciado sob uma Licença <%= link_to 'Creative Commons Attribution-Share Alike 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/' %>. 
            Powered by <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %>.</small>
          <small>
        </p>
    </footer>
</body>
</html>
