<!DOCTYPE html>
<html>
  <head>
    <title>Uni - Sistema de Gestão Universitária</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Uni</a>
        <span><%= t "SistemaDeGestaoUniversitaria" %></span>
      </h1>
      <section id="user">
        <% if session[:user] %>
          <%= t "LogadoComo" %> <%= link_to session[:user].nome %> |
          <%= t "Perfil" %>: <%= session[:profile].nome %> <%= link_to (t 'TrocarPerfil') %> |
          <%= link_to (t 'Sair'), logout_path %>
        <% end %>
      </section>
    </header>
    <nav id="main-nav">
      <%= 
      if !session[:user] or !session[:profile]
        render :partial => 'layouts/menu-guest'
      elsif session[:profile] and session[:profile].id == Perfil::ADMINISTRADOR
        render :partial => 'layouts/menu-admin'
      elsif session[:profile] and session[:profile].id == Perfil::PROFESSOR
        render :partial => 'layouts/menu-professor'
      elsif session[:profile] and session[:profile].id == Perfil::ALUNO
        render :partial => 'layouts/menu-aluno'
      end
      %>
    </nav>
    <section id="content">
      <% if session[:user] %>
      <div id="breadcrumbs">
        <%= get_bread_crumb(request.request_uri).html_safe %>
      </div>
      <% end %>
      <%= yield %>
    </section>
    <footer>
      <b>Uni</b> &mdash; <%= t "SistemaDeGestaoUniversitaria" %>
      <br/>
      <p id="license">
        Copyright © 2011 <%= link_to 'Aygean', 'http://www.aygean.com' %>
        <br/>
        <small>
          <%= t 'EsteTrabalhoEstaLicenciadoSobUmaLicenca' %> <%= link_to 'Creative Commons Attribution-Share Alike 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/' %>.
          Powered by <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %>.
        </small>
      </p>
    </footer>
  </body>
</html>