!!! 5
%html
  %head
    %title
      = Parameter.institution_name
      = '-'
      = t 'UniversityManagementSystem'
    = favicon_link_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    
    - for plugin in UniBroker.instance.plugins
      - if plugin.respond_to?('name')
        = stylesheet_link_tag    plugin.name
        = javascript_include_tag plugin.name
    
    = csrf_meta_tag
  
  %body{:id => (yield :body_id)}
    .topbar
      %header#main-header.topbar-inner
        .container-fluid
          %a.brand{:href => '/'}= Parameter.institution_name
          - if !session[:user] or !session[:role]
            = render :partial => 'layouts/menu-guest'
          - elsif session[:role] and session[:role].id == Role::ADMINISTRATOR
            = render :partial => 'layouts/menu-admin'
          - elsif session[:role] and session[:role].id == Role::PROFESSOR
            = render :partial => 'layouts/menu-professor'
          - elsif session[:role] and session[:role].id == Role::STUDENT
            = render :partial => 'layouts/menu-student'
           
          - if session[:user]
          
            = form_tag(all_search_index_path, :class => 'pull-left') do
              = text_field_tag :globalSearch, nil, :placeholder => (t 'Search')
            
            %ul#user{:class => 'nav secondary-nav'}
              %li.dropdown
                = link_to '#', :class => 'dropdown-toggle' do
                  - if @user.photo.exists?
                    = image_tag @user.photo.url(:thumb)
                  - else
                    = image_tag 'no-picture-32_bw.png'
                  = @user.name
                %ul.dropdown-menu
                  %li= link_to (t 'Profile'), user_index_url
                  %li.divider
                  %li= link_to (t 'Logout'), logout_path, :class => 'logout'

    .context-header
      .container-fluid
        - if session[:user]
          %ul.breadcrumb= get_bread_crumb(request.fullpath).html_safe
        = yield :title
    .container-fluid
      - if notice
        %div{:class => 'alert-message warning'}= notice
      
      - if alert
        %div{:class => 'alert-message error'}= alert
      
      = yield
     
    .container-fluid
      %footer
        %strong= Parameter.institution_name
        &mdash; 
        = t 'UniversityManagementSystem'
        %p#license
          %small
            = link_to 'Astux', 'http://www.astux.com.br' 
            © 2011 &middot; 
            = t 'ThisWorkIsLicensedUnderALicense' 
            = link_to 'GNU General Public License 3', 'http://www.gnu.org/licenses/gpl-3.0.html'