<!DOCTYPE html>
<html>
  <head>
    <title>Uni - <%= t 'UniversityManagementSystem' %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  	<div class="topbar">
	    <header id="main-header" class="topbar-inner">
	    	<div class="container-fluid">
		      <a class="brand" href="/">Uni</a>
	        <%= 
		      if !session[:user] or !session[:role]
		        render :partial => 'layouts/menu-guest'
		      elsif session[:role] and session[:role].id == Role::ADMINISTRATOR
		        render :partial => 'layouts/menu-admin'
		      elsif session[:role] and session[:role].id == Role::PROFESSOR
		        render :partial => 'layouts/menu-professor'
		      elsif session[:role] and session[:role].id == Role::STUDENT
		        render :partial => 'layouts/menu-student'
		      end
		      %>
		      
		      <%= form_tag(all_search_index_path, :class => 'pull-left') do %>
		        <%= text_field_tag :globalSearch, nil, :placeholder => (t 'Search') %>
		      <% end %>
		      
			    <% if session[:user] %>
			    <ul id ="user" class="nav secondary-nav">
			    	<li class="dropdown">
			    		<%= link_to '#', :class => 'dropdown-toggle' do %>
				      	<% if @user.photo.exists? %>
						  		<%= image_tag @user.photo.url(:thumb) %>
						  	<% else %>
						  		<%= image_tag 'no-picture-32_bw.png' %>
						  	<% end %>
				        <%= @user.name %>
			        <% end %>
			        <ul class="dropdown-menu">
						  	<li><%= link_to (t 'Profile'), user_index_url %></li>
				  			<li><%= link_to (t 'Logout'), logout_path, :class => 'logout' %></li>
				  		</ul>
				  	</li>
				  </ul>
			  </div>
	      <% end %>
	    </header>
	  </div>
	  <div class="container-fluid">
  		<% if notice %>
    	<div class="alert-message warning"><%= notice %></div>
    	<% end %>
    	
    	<% if alert %>
    	<div class="alert-message error"><%= alert %></div>
    	<% end %>
    	
      <% if session[:user] %>
      <ul class="breadcrumb">
        <%= get_bread_crumb(request.fullpath).html_safe %>
      </ul>
      <% end %>
      <%= yield %>
	 	</div>
	 	<div class="container-fluid">
	  	<footer>
		  	<b>Uni</b> &mdash; <%= t 'UniversityManagementSystem' %>
	      <p id="license">
	        <small>
	          <%= link_to 'Astux', 'http://www.astux.com.br' %> © 2011 &middot; 
	          <%= t 'ThisWorkIsLicensedUnderALicense' %> <%= link_to 'GNU General Public License 3', 'http://www.gnu.org/licenses/gpl-3.0.html' %>.
	        </small>
	      </p>
    	</footer>
    </div>
  </body>
</html>