<!DOCTYPE html>
<html>
  <head>
    <title>Uni - <%= t 'UniversityManagementSystem' %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Uni</a>
        <span><%= t 'UniversityManagementSystem' %></span>
      </h1>
      <section id="user">
        <% if session[:user] %>
          <%= t "LoggedInAs" %> <%= link_to @user.name, user_index_url %> |
          <%= t "Role" %>: <%= session[:role].name %> <%= link_to (t 'SwitchRole') %> |
          <%= link_to (t 'Logout'), logout_path %>
        <% end %>
      </section>
    </header>
    <nav id="main-nav">
      <%= 
      if !session[:user] or !session[:role]
        render :partial => 'layouts/menu-guest'
      elsif session[:role] and session[:role].id == Role::ADMINISTRATOR
        render :partial => 'layouts/menu-admin'
      elsif session[:role] and session[:role].id == Role::PROFESSOR
        render :partial => 'layouts/menu-professor'
      elsif session[:role] and session[:role].id == Role::STUDENT
        render :partial => 'layouts/menu-student'
      end
      %>
    </nav>
    <section id="content">
      <% if session[:user] %>
      <div id="breadcrumbs">
        <%= get_bread_crumb(request.request_uri).html_safe %>
      </div>
      <% end %>
      <%= yield %>
    </section>
    <footer>
      <b>Uni</b> &mdash; <%= t 'UniversityManagementSystem' %>
      <p id="license">
        <small>
          <%= link_to 'Aygean', 'http://www.aygean.com' %> © 2011 &middot; 
          <%= t 'ThisWorkIsLicensedUnderALicense' %> <%= link_to 'GNU General Public License 3', 'http://www.gnu.org/licenses/gpl-3.0.html' %>.
          Powered by <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %>.
        </small>
      </p>
    </footer>
  </body>
</html>