<aside>
    <nav>
        <ul>
            <li><%= link_to (t 'Home'), student_reports_path %></li>
            <li><%= link_to (t 'Students') %></li>
            <li><%= link_to (t 'Files') %></li>
            <li><%= link_to (t 'Inbox') %> (2)</li>
            <li><%= link_to (t 'TestsAndAbscences') %></li>
        </ul>
    </nav>
</aside>