<aside>
    <nav>
        <ul>
            <li class="home"><%= link_to (t 'Home'), {:action => :show, :id => 1} %></li>
            <li class="group"><%= link_to (t 'Students'), {:action => :students, :id => 1} %></li>
            <li class="files"><%= link_to (t 'Files'), {:action => :files} %></li>
            <li class="mail"><%= link_to (t 'Inbox'), {:action => :messages} %> (2)</li>
            <li class="statistics"><%= link_to (t 'TestsAndAbscences'), {:action => :tests_and_abscences} %></li>
        </ul>
    </nav>
</aside>