<h1>Matemática</h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Files' %></h2>
  <table>
      <thead>
        <tr>
          <th><%= t 'Description' %></th>
          <th><%= t 'Type' %></th>
          <th><%= t 'Size' %></th>
          <th><%= t 'Date' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to 'Lista 2' %></td>
          <td><span class="file-type">application/pdf</span></td>
          <td>356 kb</td>
          <td>11/06/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 13' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>2.3 mb</td>
          <td>07/06/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 12' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>2.1 mb</td>
          <td>11/05/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 11' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>3 mb</td>
          <td>07/05/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Lista 1' %></td>
          <td><span class="file-type">application/pdf</span></td>
          <td>356 kb</td>
          <td>11/04/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 10' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>3.4 mb</td>
          <td>17/03/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 09' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>1.8 mb</td>
          <td>11/03/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 08' %></td>
          <td><span clas="file-type">application/vnd.ms-powerpoint</span></td>
          <td>4.2 mb</td>
          <td>07/02/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Exercício de Revisão' %></td>
          <td><span class="file-type">application/pdf</span></td>
          <td>356 kb</td>
          <td>03/02/2011</td>
        </tr>
      </table>
</article>