<h1><%= t 'Classes' %></h1>
<table>
  <thead>
    <tr>
      <th><%= t 'Code' %></th>
      <th><%= t 'Name' %></th>
      <th><%= t 'Course' %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SI036</td>
      <td><%= link_to 'Matemática', {:action => 'show', :id => 1} %></td>
      <td>7ª Série</td>
    </tr>
    <tr>
      <td>AD015</td>
      <td><%= link_to 'Português', {:action => 'show', :id => 1} %></td>
      <td>7ª Série</td>
    </tr>
    <tr>
      <td>AD027</td>
      <td><%= link_to 'Geografia', {:action => 'show', :id => 1} %></td>
      <td>7ª Série</td>
    </tr>
    <tr>
      <td>SI072</td>
      <td><%= link_to 'História', {:action => 'show', :id => 1} %></td>
      <td>7ª Série</td>
    </tr>
    <tr>
      <td>SI051</td>
      <td><%= link_to 'Biologia', {:action => 'show', :id => 1} %></td>
      <td>7ª Série</td>
    </tr>
  </tbody>
</table>