<h1><%= @lecture.name %></h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Home' %></h2>
  <p>
    <b><%= t 'ClassCode' %>:</b> <%= @lecture.code %>
  </p>
  <p>
    <b><%= t 'Professor' %>:</b> <%= link_to @lecture.professor.name, user_path(@lecture.professor.person) %>
  </p>
  <p>
    <b><%= t 'TimeTable' %>:</b> SEG 19:00 - 20:40, QUA 19:00 - 20:40
  </p>
  
  <div class="panel-left">
    <h3><%= t 'LastMessages' %></h3>
    <table class="grid">
      <thead>
        <tr>
          <th><%= t 'Subject' %></th>
          <th><%= t 'Date' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to 'Dia 14/06 não haverá aula' %></td>
          <td>11/06/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Lista 2 disponibilizada' %></td>
          <td>07/06/2011</td>
        </tr>
        <tr class="small-relevance">
          <td><%= link_to 'Dia 14/05 não haverá aula' %></td>
          <td>11/05/2011</td>
        </tr>
        <tr class="small-relevance">
          <td><%= link_to 'Lista 1 disponibilizada' %></td>
          <td>07/05/2011</td>
        </tr>
        <tr class="small-relevance">
          <td><%= link_to 'Dia 14/04 não haverá aula' %></td>
          <td>11/04/2011</td>
        </tr>
      </table>
      <p><%= link_to (t 'SeeAllMessages'), {:action => :messages, :id => 1} %></p>
  </div>
  
  <div class="panel-right">
    <h3><%= t 'LastFiles' %></h3>
    <table class="grid">
      <thead>
        <tr>
          <th><%= t 'Description' %></th>
          <th><%= t 'Date' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to 'Lista 2' %></td>
          <td>11/06/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 13' %></td>
          <td>07/06/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 12' %></td>
          <td>11/05/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Aula 11' %></td>
          <td>07/05/2011</td>
        </tr>
        <tr>
          <td><%= link_to 'Lista 1' %></td>
          <td>11/04/2011</td>
        </tr>
      </table>
      <p><%= link_to (t 'SeeAllFiles'), {:action => :files, :id => 1} %></p>
  </div>
</article>