<h1>Matemática</h1>
<%= render :partial => 'menu' %>
<article>
  <h2><%= t 'Students' %></h2>
  
  <table>
    <thead>
      <tr>
        <th>Matrícula</th>
        <th>Nome</th>
      </tr>
    </thead>

    <% @alunos = Student.all %>
    <% @aluno = @alunos[0] %>
    <% @aluno2 = @alunos[1] %>

    <tbody>
      <tr>
        <td>029298101</td>
        <td><%= link_to 'Nome do aluno A', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029218102</td>
        <td><%= link_to 'Nome do aluno B', user_path(@aluno2.person) %></td>
      </tr>
      <tr>
        <td>029258101</td>
        <td><%= link_to 'Nome do aluno C', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029292101</td>
        <td><%= link_to 'Nome do aluno D', user_path(@aluno2.person) %></td>
      </tr>
      <tr>
        <td>029218161</td>
        <td><%= link_to 'Nome do aluno E', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029238101</td>
        <td><%= link_to 'Nome do aluno F', user_path(@aluno2.person) %></td>
      </tr>
      <tr>
        <td>024298101</td>
        <td><%= link_to 'Nome do aluno G', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029218101</td>
        <td><%= link_to 'Nome do aluno H', user_path(@aluno2.person) %></td>
      </tr>
      <tr>
        <td>029218101</td>
        <td><%= link_to 'Nome do aluno I', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029208101</td>
        <td><%= link_to 'Nome do aluno J', user_path(@aluno2.person) %></td>
      </tr>
      <tr>
        <td>029918001</td>
        <td><%= link_to 'Nome do aluno K', user_path(@aluno.person) %></td>
      </tr>
      <tr>
        <td>029132101</td>
        <td><%= link_to 'Nome do aluno L', user_path(@aluno2.person) %></td>
      </tr>
    </tbody>
  </table>
</article>